page-list {
  .list-item {
    margin-bottom: 5px;
    background: rgb(223, 223, 223);
    .avtar-img {
      height: 55px;
      width: 55px;
    }
    .list-child-name {
      font-weight: 700;
      font-size: 16px;
    }
    .list-child-detail {
      font-weight: 300;
    }
  }
  .page-heading-wrapper {
    height: auto;
    padding: 20px;
    .page-heading {
      font-size: xx-large;
      font-weight: 700;
      margin-bottom: 5px;
    }
    .page-subtitle {
      font-size: large;
    }
  }
}
.show-right-toggle{
  display: block !important;
}
