<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar>
    <button class="corner-header-button" ion-button menuToggle>
      <img src="./assets/imgs/menu.png" class="menu-icon" />
    </button>
    <ion-title>Mes enfants</ion-title>
    <ion-buttons end>
      <button class="corner-header-button show-right-toggle" ion-button menuToggle="right">
        <img src="./assets/imgs/header-logo.png" class="header-right-icon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="page-heading-wrapper">
    <div class="page-heading">Mes enfants</div>
    <div class="page-subtitle">Suivez l’Evolution de votre
      enfant en temps réel</div>
  </div>
  <div *ngIf="items.length == 0" class="alert alert-danger">

    <p>vous n’avez pas encore d’enfant connecté à votre compte, veuillez contacter la direction de l’école</p>

  </div>
  <ion-list *ngIf="items.length>0">
    <!-- <button class="list-item" *ngFor="let item of items" ion-item> -->
    <ion-item class="list-item" *ngFor="let item of items" (click)="goToDetail(item)">
      <ion-avatar item-start>
        <img class="avtar-img" src="{{
            item.photo_eleve
              ? 'http://ss.nakelasi.com/members/eleves/' + item.photo_eleve
              : './assets/imgs/no-img-background.jpg'
          }}" />
      </ion-avatar>
      <div [innerHtml]="item.nom + ' ' + item.prenom + ' ' + item.postnom" class="list-child-name"></div>
      <div class="list-child-detail" [innerHtml]="item.nom_classe"></div>
      <!-- <p>I've had a pretty messed up day. If we just...</p> -->

      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </ion-item>
    <!-- </button> -->
  </ion-list>

  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{ selectedItem.title }}</b>
  </div>
</ion-content>