<ion-content *ngIf="!showVid" padding class="login-wrapper content-auth login-slide-wrapper">
  <div class="login-container">
    <div class="logo-container"><img src="./assets/imgs/logo.png" /></div>
    <div class="login-form">
      <ion-list no-lines>
        <div class="school-drop-wrapper">
          <ion-item class="school-drop">
            <ion-label>Choisir une école</ion-label>
            <ion-select (ionChange)="validation('school')" [(ngModel)]="school">
              <ion-option *ngFor="let s of schools" [innerHtml]="s.nomschool" value="{{ s.id_school }}"></ion-option>
            </ion-select>
          </ion-item>
          <div *ngIf="schoolError" class="fieldError">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; veuillez choisir votre école
          </div>
        </div>
        <div class="custom-inputs">
          <div class="input-icon-image">
            <img src="./assets/imgs/mail-icon.png" />
          </div>
          <div>
            <!-- <ion-label>Email</ion-label> -->
            <ion-input placeholder="Email" type="text" [(ngModel)]="email" (input)="validation('email')"></ion-input>
          </div>
        </div>
        <div *ngIf="emailError" class="fieldError">
          <ion-icon name="md-information-circle"></ion-icon> &nbsp; e-mail invalide
        </div>
        <div class="custom-inputs">
          <div class="input-icon-image">
            <img src="./assets/imgs/password-icon.png" />
          </div>
          <div>
            <!-- <ion-label>Password</ion-label> -->
            <ion-input placeholder="mot de passe" type="password" [(ngModel)]="password"
              (input)="validation('password')"></ion-input>
          </div>
        </div>
        <div *ngIf="passwordError" class="fieldError">
          <ion-icon name="md-information-circle"></ion-icon> &nbsp; mot de passe obligatoire
        </div>

        <a class="forgot-pass" (click)="navToForgotPass()">
          Mot de passe oublié?</a>


        <!--
          <button class="login-btn" ion-button full (click)="Login()">LOGIN</button>
        -->

        <button class="custom-btn" ion-button full (click)="doLogin()">
          Connexion
        </button>


        <div class="custom-inputs">
          <div class="input-icon-image">
            <ion-checkbox [(ngModel)]="remember"></ion-checkbox>
          </div>
          <div>
            <!-- <ion-label>Email</ion-label> -->
            se souvenir de mon choix
          </div>
        </div>
        <!-- <button (click)="facebookLogin()" ion-button class="social-btn facebook" full round>
          Connect With Facebook
        </button>
        <button (click)="googleLogin()" ion-button class="social-btn google" full round>
          Connect With Google
        </button> -->
        <button class="custom-btn-plus" ion-button full (click)="Login()">
          Plus tard <ion-icon name="ios-arrow-dropright" class="ml-4"></ion-icon>
        </button>
        <div class="side-main">
          <p class="side-border">OU</p>
        </div>
        <!--
          <div class="or-container">
            <hr>
            <p>OR</p>
            <hr>
          </div>
        -->
        <div (click)="navToReg()" class="signup-container">
          <p class="signup">
            Pas encore Enregistré?

            <u> <a>Créer un Compte </a> </u>
          </p>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>


<ion-header [hidden]="!showVid" class="homeheader ">
  <ion-navbar>



    <ion-buttons end>

      <button (click)="skip()" class="corner-header-button home-card" ion-button>
        Skip >>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>
<ion-content *ngIf="showVid">

  <video autoplay loop src="assets/video/VID-20190605-WA0007.mp4"></video>

</ion-content>