<!--
  Generated template for the ReleaseDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class=" purpleheader  ios-header-custom ion-header-hight">
  <ion-navbar> <ion-title>release-detail</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <p class="title-text" [innerHtml]="schoolNews.titre"></p>
  <span class="time-text"> {{ schoolNews.created | date: "medium" }}</span>
  <!-- <p class="subText" *ngIf="s choolNews.subText">{{ schoolNews.subText }}</p> -->
  <p text-wrap [innerHtml]="schoolNews.descript"></p>
</ion-content>
