page-release-detail {
  .title-text {
    font-size: 20px;
    color: rgb(52, 52, 52);
    font-weight: 600;
    margin-left: 10px;
  }
  .subText {
    font-size: 16px;
    color: rgb(128, 128, 128);
    font-weight: 500;
    margin-left: 10px;
    margin-top: 10px;
  }
  .description-text {
    font-size: 16px;
    color: rgb(128, 128, 128);
    font-weight: 500;
    margin-left: 10px;
    margin-top: 10px;
    // overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .time-text {
    margin-left: 10px;
    font-size: 16px;
    color: lightgray;
    font-weight: 700;
    // float: right;
    text-align: center;
  }
}
