<!--
  Generated template for the ParrainagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar>
    <ion-title>Parrainer un Tuteur</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <p>
    Faites partager votre expérience Nakelasi à d‘autres tuteurs (parents) qui
    ignorent encore l’existence de notre produit et les avantages que cela
    comporte pour le rendement efficace de votre enfant.
  </p>

  <div class="parent-form">
    <ion-list no-lines>
      <!-- <ion-label>Email</ion-label> -->
      <ion-input class="custom-inputs" placeholder="Adresse Email" type="text" [(ngModel)]="email"
        (input)="validation('email')"></ion-input>

      <div *ngIf="emailError" class="fieldError">
        Veuiller saisir l'adresse email d'un tuteur(parent) que vous souhaitez
      </div>

      <!-- <ion-label>Password</ion-label> -->
      <ion-input class="custom-inputs" placeholder="Prenom destinataire" type="text" [(ngModel)]="preDesti"
        (input)="validation('prenomDestination')"></ion-input>

      <div *ngIf="prenomDestinationError" class="fieldError">
        Prenom destinataire is Required
      </div>

      <!-- <ion-label>Password</ion-label> -->
      <ion-input class="custom-inputs" placeholder="Nom destinataire" type="text" [(ngModel)]="nomDesti"
        (input)="validation('nomDestination')"></ion-input>

      <div *ngIf="nomDestinationError" class="fieldError">
        Nom destinataire is Required
      </div>

      <ion-textarea class="custom-inputs description" placeholder="Bonjour" type="text" [(ngModel)]="description"
        (input)="validation('description')"></ion-textarea>

      <p *ngIf="descriptionError">
        <span class="span-description-text">Parrainer davantage et gagner en étoiles.
        </span>
        Les étoiles sont importantes, car cela vous permet de bénéficier à
        plusieurs autres avantages de la plate forme
      </p>

      <button ion-button outline class="btn-parent" (click)="fnSendParrentEmail()">
        Parrainer
        <ion-icon name="people" slot="end" class="btn-icon"></ion-icon>
      </button>
    </ion-list>
  </div>

  <h3>Vos dernières invitations de parrainage</h3>

  <p>
    Vos invitations de parrainage gardent le statut <b>"en attente.."</b> tant
    que votre destinataire n'aura pas ouvert le lien. une fois il click sur le
    lien, le statut va changer en <b>"Acceptée"</b>
  </p>

  <p class="span-description-text">
    * Après 30 jours, les invitations en attente serront automatiquement
    supprimées
  </p>

  <ion-row *ngFor="let data of responseData" class="row-backcolor">
    <ion-col col-4>
      <p [innerHtml]="data.prenom_child+ ' ' + data.nom_child"></p>
    </ion-col>
    <ion-col col-4>
      <!-- <p>{{data.status}}</p> -->
      <button ion-button outline class="btn-accepted" *ngIf="data.link_open == '1'">
        Acceptée
      </button>

      <button ion-button outline class="btn-not-accepted" *ngIf="data.link_open == '0'">
        En attente...
      </button>
    </ion-col>
    <ion-col *ngIf="data.link_open == '1'" col-4>
      <p>le {{ data.accepted_date | date: "dd/MM/yyyy"}}</p>
    </ion-col>
    <ion-col *ngIf="data.link_open == '0'" col-4>
      <p>Supprimer</p>
    </ion-col>
  </ion-row>
</ion-content>