page-parrainages {
  .parent-form {
    color: #555;
    .custom-inputs {
      // padding-left: 5px;
      display: flex;
      margin-bottom: 15px;
      //background: rgba(42, 51, 67, 0.57);
      margin: 0 auto 5px;
      border-radius: 3px;
      border: 1px solid #e5e6e7;
    }
    .text-input {
      margin: 7px 8px 11px 10 !important;
      color: inherit;
    }
    .custom-btn {
      height: 55px;
      margin: 30px auto 27px 0px;
      background: #2a3343;
      box-shadow: none;
      border-radius: 5px;
      font-size: 20px;
    }
    .fieldError {
      //margin-left: 20%;
      margin-bottom: 10px;
      color: red;
    }
    .description {
      height: 150px;
    }
    .text-input::-moz-placeholder {
      color: inherit;
    }

    .text-input:-ms-input-placeholder {
      color: inherit;
    }

    // placeholder style fpr input
    .text-input::-moz-placeholder {
      color: inherit;
    }

    .text-input:-ms-input-placeholder {
      color: inherit;
    }

    .text-input::-webkit-input-placeholder {
      text-indent: 0;
      color: inherit;
    }
  }

  .btn-parent {
    width: 100%;
    color: #1c84c6;
    border-color: #1c84c6;
    margin-top: 20px;
  }
  .btn-icon {
    // padding-left: 5px;
  }

  .scroll-content {
    padding-bottom: 0px !important;
  }
  .span-description-text {
    color: orange;
  }

  .btn-accepted {
    color: #1ab394;
    border-color: #1ab394;
    width: 100%;
  }
  .btn-not-accepted {
    color: #f8ac59;
    border-color: #f8ac59;
    width: 100%;
  }

  .row-backcolor {
    background-color: #f9f9f9;
    border-top: 1px solid #e7eaec;
    word-spacing: 10px;
    p {
      padding: 5px 0px 0px 5px;
      margin: 0px 0px;
    }
  }
}
