<ion-header class="">
  <ion-navbar> </ion-navbar>
</ion-header>
<ion-content padding class="login-wrapper content-auth login-slide-wrapper">
  <div class="login-container">
    <div class="logo-container"><img src="./assets/imgs/logo.png" /></div>
    <div (click)="uploadProfilePic()" class="profile-icon">
      <img class="profile-img" src="./assets/imgs/profile-icon.png" *ngIf="profilePicture == ''" />
      <img class="profile-img" [src]="profilePicture" *ngIf="profilePicture != ''" />
    </div>
    <div class="login-form">
      <ion-list no-lines>
        <div class="school-drop-wrapper">
          <ion-item class="school-drop">
            <ion-label> Choisir une école</ion-label>
            <ion-select (ionChange)="validation('school')" [(ngModel)]="school">
              <ion-option *ngFor="let s of schools" [innerHtml]="s.nomschool" value="{{ s.id_school }}"></ion-option>
            </ion-select>
          </ion-item>
          <div *ngIf="schoolError" class="fieldError">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; veuillez choisir une école

          </div>
        </div>
        <div class="custom-inputs">
          <div class="input-icon-image">
            <img src="./assets/imgs/user-icon.png" />
          </div>
          <div>
            <!-- <ion-label>Email</ion-label> -->
            <ion-input placeholder="Nom" type="text" [(ngModel)]="name" (input)="validation('name')"></ion-input>
          </div>
        </div>
        <div *ngIf="nameError" class="fieldError">
          <ion-icon name="md-information-circle"></ion-icon> &nbsp; champ obligatoire
        </div>
        <div class="custom-inputs">
          <div class="input-icon-image">
            <img src="./assets/imgs/mail-icon.png" />
          </div>
          <div>
            <!-- <ion-label>Email</ion-label> -->
            <ion-input placeholder="Email" type="text" [(ngModel)]="email" (input)="validation('email')"></ion-input>
          </div>
        </div>
        <div *ngIf="emailError" class="fieldError">
          <ion-icon name="md-information-circle"></ion-icon> &nbsp; champ obligatoire
        </div>
        <div class="custom-inputs">
          <div class="input-icon-image">
            <img src="./assets/imgs/password-icon.png" />
          </div>
          <div>
            <!-- <ion-label>Password</ion-label> -->
            <ion-input placeholder="mot de passe" type="password" [(ngModel)]="password"
              (input)="validation('password')"></ion-input>
          </div>
        </div>
        <div *ngIf="passwordError" class="fieldError">
          <ion-icon name="md-information-circle"></ion-icon> &nbsp; champ obligatoire
        </div>
        <div class="custom-inputs">
          <div class="input-icon-image">
            <img src="./assets/imgs/password-icon.png" />
          </div>
          <div>
            <!-- <ion-label>Password</ion-label> -->
            <ion-input placeholder="confirmation" type="password" [(ngModel)]="confirmpassword"
              (input)="validation('confirmpassword')"></ion-input>
          </div>
        </div>
        <div *ngIf="confirmpasswordError" class="fieldError">
          <ion-icon name="md-information-circle"></ion-icon> &nbsp;champ obligatoire
        </div>
        <div *ngIf="imageError" class="fieldError">
          <ion-icon name="md-information-circle"></ion-icon> &nbsp; Image is
          champs obligatoires
        </div>
        <!--
          <button class="login-btn" ion-button full (click)="Login()">LOGIN</button>
        -->
        <button class="custom-btn" ion-button full (click)="doRegistraton()">
          Inscription
        </button>
      </ion-list>
    </div>
  </div>
</ion-content>