page-register {
  .header {
    background: transparent;
    .back-button {
      color: black;
    }
  }
  .logo-container {
    margin: auto;
    padding-top: 0px;
    padding-bottom: 14px;
    width: 40%;
  }
  .login-wrapper {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    .login-container {
      .profile-icon {
        width: 34%;
        margin: auto;
        padding-top: 0px;
        padding-bottom: 10px;
        .profile-img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }

      .login-form {
        width: 93%;
        margin: auto;
        .school-drop-wrapper {
          margin-bottom: 20px;
          background: transparent;
          .school-drop {
            border-radius: 5px;
            background: transparent;

            border: 1px solid;
          }
        }
        .list {
          color: #ffffff;

          .item {
            background: transparent !important;
          }
          .input-icon-image {
            display: inline-block;
          }
        }
      }
    }
  }
}
