page-messaging {
  .message-count{
    font-size: 16px;
  }
  .search-btn {
    // height: 30px;
    // width: 30px;
  }
  .main-segment-wrapper {
    height: 50p;
    width: 95%;
    margin: 20px auto;

    .main-segment {
      border-radius: 50px;
      border: 1px solid #2a3343;
      .segment-title {
        margin: 0px;
      }
      .segment-button {
        color: #2a3343;
        border-style: none;
      }
      .segment-button.segment-activated {
        /* border-color: #488aff; */
        opacity: 1;
        background: #2a3343;
        border-radius: 50px;
        border-style: none;
        color: #ffffff;
      }
    }
  }
  .custom-row {
    width: 95%;
    margin: 5px auto;
    border-style: none !important;
    .custom-col {
      text-align: center;
      margin: auto;
      border-radius: 50px;
      color: white;
      max-width: 22% !important;
    }
  }

  .col-frais {
    background: rgb(236, 74, 73);
  }
  .col-etudes {
    background: rgb(245, 162, 80);
  }
  .col-autres {
    background: rgb(31, 192, 195);
  }
  .custom-dot {
    height: 9px;
    width: 9px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 3px;
  }
  .list-title {
    display: inline-block;
    font-weight: 400;
  }
  .unread-message {
    font-weight: 600;
  }
  .message-subject {
    max-height: 24px;
    -webkit-line-clamp: 1;
    white-space: pre-wrap;
  }
  .message-text {
    max-height: 44px;
    // white-space: pre-wrap;
  }

  ion-note {
    font-size: 14px;
    align-self: flex-start;
    float: right;
    // /    margin-top: 14px;
  }

  .btn-fab {
    background-color: rgb(37, 45, 60);
  }
  .icon-create-message {
    height: 25px;
    width: 25px;
    margin-left: 5px;
  }
  .list-ios > .item-block:first-child {
    border: none !important ;
  }
  .list {
    margin: 5px 0px;
  }
}
