<!--
  Generated template for the MessagingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar>
    <button class="corner-header-button" ion-button menuToggle>
      <img src="./assets/imgs/menu.png" class="menu-icon" />
      <ion-badge *ngIf="nbn > 0" id="cart-badge">{{ nbn }}</ion-badge>
    </button>
    <ion-title>Messages</ion-title>
    <ion-buttons end>
      <button (click)="showSearch = !showSearch; terms = ''" class="" ion-button>
        <img src="./assets/imgs/magnifying-glass.png" class="search-btn" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Recherche" *ngIf="showSearch" [(ngModel)]="terms"></ion-searchbar>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="main-segment-wrapper">
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="messageType" class="main-segment">
      <ion-segment-button value="mailBox">
        <ion-label class="segment-title"> Reception </ion-label>
      </ion-segment-button>
      <ion-segment-button value="sentMessage">
        <ion-label class="segment-title"> Envoyés </ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <ion-row class="custom-row">
    <ion-col class="col-frais custom-col" col-3>Frais</ion-col>
    <ion-col class="col-etudes custom-col" col-3>Etudes</ion-col>
    <ion-col class="col-autres custom-col" col-3>Autres</ion-col>
  </ion-row>
  <ion-row *ngIf="items.length > 0" class="custom-row">
    <ion-col class="unread-message list-title message-count">
      messages: {{ items.length }}</ion-col>
  </ion-row>
  <div *ngIf="items.length == 0" class="alert alert-danger">

    <p>Aucun message</p>

  </div>
  <ion-list>
    <ion-item *ngFor="let i of (items | search: terms)" (click)="goToMessageDetail(i)">
      <div>
        <div class="col-{{ setcolor(i.categorie) }} custom-dot"></div>
        <h2 [ngClass]="{ 'unread-message': i.statu_read == 0 }" class="list-title" *ngIf="i.created_m">
          La direction
        </h2>

        <h2 class="list-title" *ngIf="i.sended_m">La direction</h2>

        <ion-note *ngIf="i.created_m">{{ i.created_m | date: "shortTime" }}
        </ion-note>
        <ion-note *ngIf="i.sended_m">{{
          i.sended_m | date: "shortTime"
        }}</ion-note>
      </div>
      <div class="limited-words message-subject" [innerHtml]="i.objet"></div>
      <div class="limited-words message-text">
        <p [innerHtml]="i.text_list_view"></p>
      </div>
      <div *ngIf="i.created_m" class="limited-words message-text">
        <p>{{ i.created_m | date: "dd/MM/yyyy" }}</p>
      </div>
      <div *ngIf="i.sended_m" class="limited-words message-text">
        <p>{{ i.sended_m | date: "dd/MM/yyyy" }}</p>
      </div>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab bottom right (click)="fnGotoCreateMessage()">
    <button ion-fab class="btn-fab">
      <img src="./assets/imgs/new-msg-icon.png" class="icon-create-message" />
    </button>
  </ion-fab>
</ion-content>