<!--
  Generated template for the AboutSchoolPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class=" purpleheader  ios-header-custom ion-header-hight">
  <ion-navbar> <ion-title>A propos de l' Ecole</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="assets/imgs/logo.png" />
    <ion-card-content>
      <ion-card-title> Nine Inch Nails Live </ion-card-title>
      <p>
        The most popular industrial group ever, and largely responsible for
        bringing the music to a mass audience.
      </p>
    </ion-card-content>
  </ion-card>

  <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col col-2 (click)="goToLastMonth()"
        ><ion-icon name="arrow-back"></ion-icon
      ></ion-col>
      <ion-col col-8>{{ currentMonth }} {{ currentYear }}</ion-col>
      <ion-col col-2 (click)="goToNextMonth()"
        ><ion-icon name="arrow-forward"></ion-icon
      ></ion-col>
    </ion-row>
  </div>
  <div class="calendar-body">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col>Su</ion-col>
        <ion-col>Mo</ion-col>
        <ion-col>Tu</ion-col>
        <ion-col>We</ion-col>
        <ion-col>Th</ion-col>
        <ion-col>Fr</ion-col>
        <ion-col>Sa</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <ion-col
          col-1
          *ngFor="let lastDay of daysInLastMonth"
          class="last-month"
          (click)="goToLastMonth()"
          >{{ lastDay }}</ion-col
        >
        <ion-col
          col-1
          *ngFor="let day of daysInThisMonth"
          (click)="selectDate(day)"
        >
          <span
            class="currentDate"
            *ngIf="currentDate === day; else otherDate"
            >{{ day }}</span
          >
          <ng-template #otherDate class="otherDate">
            {{ day }}<br />
            <div class="event-bullet" *ngIf="checkEvent(day)"></div>
          </ng-template>
        </ion-col>
        <ion-col
          col-1
          *ngFor="let nextDay of daysInNextMonth"
          class="next-month"
          (click)="goToNextMonth()"
          >{{ nextDay }}</ion-col
        >
      </ion-row>
    </ion-grid>
  </div>
  <div class="selected-event" *ngIf="isSelected">
    <ion-list>
      <ion-item *ngFor="let se of selectedEvent">
        <ion-buttons end>
          <button ion-button clear icon-only (click)="deleteEvent(se)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <h2>{{ se.title }}</h2>
        <h3>{{ se.message }}</h3>
        <p>
          Start Date: {{ se.startDate }}<br />
          Start Date: {{ se.endDate }}
        </p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
