page-create-message {
  [contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}
  .main-text {
    height: 90%;
    margin: 5px 15px;

    .text-input {
      height: 90% !important;
      padding: 15px 28px;
    }
  }
  .ojet {
    min-height: 35px;
    padding: 5px;
    margin: 5px 0px;
    white-space: pre-line;
    border: 0.5px solid;
    border-radius: 5px;
  }
  .text-div {
    min-height: 150px;
    border: 0.5px solid;
    padding: 10px;
    white-space: pre-wrap;
    border-radius: 5px;
  }
  .school-drop-wrapper {
    // margin-bottom: 20px;
    margin: auto;
    background: transparent;
    padding: 15px;
    .school-drop {
      border-radius: 5px;
      background: transparent;
      font-size: 14px;
      border: 1px solid rgb(118, 122, 129);
    }
  }

  .item-md.item-block .item-inner,
  .item-ios.item-block .item-inner {
    border-bottom: none;
  }
  .item-select .label-md,
  .item-select .label-ios {
    color: rgb(118, 120, 123);
  }

  .item-email {
    border-bottom: 1px solid rgb(227, 227, 227);
    // margin-left: 10px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    font-size: 14px;
    p {
      margin: 3px 5px;
      // color: black;
      // font-size: 14px;
      // inline-size: 10px;
    }
  }
  .item-email-custom-qw :before {
    content: "A:";
    color: black;
    font-size: 14px;
    inline-size: 10px;
  }
  .item-subject {
    border-bottom: 1px solid rgb(227, 227, 227);
    // margin-left: 10px;
    width: 100%;
    font-size: 14px;
  }

  .item-md.item-input.input-has-focus .item-inner,
  .item-ios.item-input.input-has-focus .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .footer-content {
    // height: 50px;
    background-color: rgb(244, 243, 244);
  }
  .send-icon {
    font-size: 3.5rem;
    margin-top: 2px;
    float: right;
    padding-right: 10px;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: rgb(118, 120, 123);
    font-size: 14px;
  }
  .send-text-msg {
    border-radius: 30px;
    border: 1px solid rgb(230, 230, 230);
    min-height: 3.5rem;
    margin-top: 2px;
  }
  .text-input-md,
  .text-input-ios {
    margin: 0px;
  }

  .form {
    height: 100% !important;
  }
}
.show-right-toggle{
  display: block !important;
}