<!--
  Generated template for the CreateMessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar>
    <ion-title>Nouveau message</ion-title>
    <ion-buttons end>
      <button class="corner-header-button show-right-toggle" ion-button menuToggle="right">
        <img src="./assets/imgs/header-logo.png" class="header-right-icon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div style="height: 80%;">
    <div class="school-drop-wrapper">
      <ion-item class="school-drop">
        <ion-label>Catégorie</ion-label>
        <ion-select [(ngModel)]="categorie">
          <ion-option value="frais">Frais scolaire </ion-option>
          <ion-option value="etudes">Etudes</ion-option>
          <ion-option value="autres">Autres</ion-option>
        </ion-select>
      </ion-item>
    </div>
    <div *ngIf="navParams.data.type != 'Tr'" class="item-email">
      <p>A:</p>
      <ion-input class="ojet item-email-custom" [disabled]="true" placeholder="A la direction"></ion-input>
    </div>
    <div *ngIf="navParams.data.type == 'Tr'" class="item-email">
      <p>A:</p>

      <ion-input class="ojet item-email-custom" [(ngModel)]="destinataire" placeholder=""></ion-input>
    </div>
    <ion-item class="item-subject">
      <p style="color: black">Objet:</p>
      <div class="ojet" contenteditable="true" [innerHtml]="objet"
        (keyup)="setText($event.target.textContent, 'objet')"></div>
    </ion-item>
    <div class="main-text">
      <p>Message:</p>
      <!-- <ion-textarea
        class="main-text"
        [(ngModel)]="text"
        placeholder="Say something..."
      ></ion-textarea> -->
      <div class="text-div" contenteditable="true" (keyup)="setText($event.target.textContent, 'text')"
        [innerHtml]="text"></div>
    </div>
  </div>
</ion-content>
<ion-footer class="footer-content">
  <ion-row>
    <!-- <ion-col col-8></ion-col> -->

    <ion-col col-8>
      <!-- <ion-item class="send-text-msg">
        <ion-textarea
          [(ngModel)]="text"
          placeholder="Say something..."
        ></ion-textarea>
      </ion-item> -->
    </ion-col>
    <ion-col (click)="createMsg()" col-4>
      <!-- <p>Envoyé</p> -->
      <ion-icon name="md-send" class="send-icon"></ion-icon>
    </ion-col>
  </ion-row>
</ion-footer>