<!--
  Generated template for the AddeventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar>
    <ion-title>Events</ion-title>
    <ion-icon class="close-icon" (click)="close()" name="close"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-label>Event Title</ion-label>
  <ion-input type="text" class="form-control" [(ngModel)]="eventObj.title">
  </ion-input>

  <ion-label>Start Date</ion-label>
  <ion-datetime displayFormat="DD/MM/YYYY" class="form-control" [(ngModel)]="eventObj.start">
  </ion-datetime>
  <ion-label>End Date</ion-label>
  <ion-datetime displayFormat="DD/MM/YYYY" class="form-control" [(ngModel)]="eventObj.end">
  </ion-datetime>

  <ion-row>
    <button col-5 class="custom-btn msg-btn" ion-button full (click)="close()">
      annuler
    </button>
    <button col-5 *ngIf="editMode" class="custom-btn msg-btn" ion-button full (click)="updateEvent()">
      Update
    </button>
    <button col-5 *ngIf="!editMode" class="custom-btn msg-btn" ion-button full (click)="addEvent()">
      Add Event
    </button>
  </ion-row>
  <ion-row>
    <button col-5 *ngIf="editMode" class="custom-btn msg-btn" ion-button full (click)="deleteEvent()">
      Delete
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-row>
</ion-content>