page-addevent {
  .close-icon {
    font-size: 35px;
    color: #fff;
    float: right;
    margin-right: 10px;
  }
  .item-cover {
    height: auto;
    width: auto;
  }
  .form-control {
    padding: 7px;
    // display: flex;
    margin-bottom: 5px;
    background: rgba(42, 51, 67, 0.57);
    // margin: 0 auto 5px;
    border-radius: 3px;
  }
  .msg-btn {
    // width: 30%;
    float: right;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    margin: auto;
    background-color: rgb(37, 45, 60);
  }
}
