<!--
  Generated template for the StatistiquesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar>
    <ion-title>Statistiques</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="segment_one" mode="md">
    <ion-segment-button value="Systèmes">
      <ion-label>Systèmes <ion-icon name="settings" class="icon-settings"></ion-icon>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="Parrainage">
      <ion-label>Parrainage <ion-icon name="contacts" class="icon-settings"></ion-icon>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="Nombredenfants">
      <ion-label>enfants <ion-icon name="sad" class="icon-settings"></ion-icon>
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segment_one == 'Systèmes'">
    <ion-card padding>
      <p class="system-heading-text">
        <strong>Informations et données de la technique </strong>
      </p>

      <ion-row class="title-table-bg">
        <ion-col col-2>
          <p>#</p>
        </ion-col>
        <ion-col col-4>
          <p>Mouvement</p>
        </ion-col>
        <ion-col col-6>
          <p>Fréquence</p>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let data of systemData" class="row-data-border">
        <ion-col col-2>
          <p>{{ data.id }}</p>
        </ion-col>
        <ion-col col-4>
          <p [innerHtml]="data.title">
            <ion-icon [name]="data.icon" class="icon-settings"></ion-icon>
          </p>
        </ion-col>
        <ion-col col-6>
          <p>{{ data.count }}</p>
        </ion-col>
      </ion-row>

      <!-- <p class="system-footer-text">
        Vous vous étes enregistré le : 29-09-2017
      </p> -->
    </ion-card>
  </div>

  <div *ngIf="segment_one == 'Parrainage'">
    <ion-card padding>
      <p class="system-heading-text">
        <strong>Statistiques sur le nombre de personnes parrainées et ceux qui ont
          ouvert le lien
        </strong>
      </p>

      <ion-row class="title-table-bg">
        <ion-col col-2>
          <p>#</p>
        </ion-col>
        <ion-col col-6>
          <p>Description</p>
        </ion-col>
        <ion-col col-4>
          <p>Nombre</p>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let data of ParrainageData" class="row-data-border">
        <ion-col col-2>
          <p>{{ data.id }}</p>
        </ion-col>
        <ion-col col-6>
          <p [innerHtml]="data.title">
            <ion-icon [name]="data.icon" class="icon-settings"></ion-icon>
          </p>
        </ion-col>
        <ion-col col-4>
          <p>{{ data.count }}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div *ngIf="segment_one == 'Nombredenfants'">
    <ion-card padding>
      <p class="system-heading-text">
        <strong>Statistiques sur  le nombre d’enfant qui sont sous votre
          responsabilité</strong>
      </p>

      <ion-row class="title-table-bg">
        <ion-col col-2>
          <p>#</p>
        </ion-col>
        <ion-col col-6>
          <p>Genre</p>
        </ion-col>
        <ion-col col-4>
          <p>Nombre</p>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let data of NombreData" class="row-data-border">
        <ion-col col-2>
          <p>{{ data.id }}</p>
        </ion-col>
        <ion-col col-6>
          <p [innerHtml]="data.title">
            <ion-icon [name]="data.icon" class="icon-settings"></ion-icon>
          </p>
        </ion-col>
        <ion-col col-4>
          <p>{{ data.count }}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <ion-segment [(ngModel)]="segment_two" mode="md">
    <ion-segment-button value="Messagerie">
      <ion-label>Messagerie <ion-icon name="mail" class="icon-settings"></ion-icon>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="Tâches_plannifiées">
      <ion-label>Tâches plannifiées
        <ion-icon name="laptop" class="icon-settings"></ion-icon>
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segment_two == 'Messagerie' && MessageData?.length > 0">
    <!-- <p>Systems</p> -->
    <ion-card padding>
      <p class="message-heading-text">
        <strong>Statistique sur toute la messagerie</strong>
      </p>

      <ion-list mode="md">
        <ion-item *ngFor="let data of MessageData">
          <ion-row class="message-item-border">
            <ion-col>
              <p [innerHtml]="data.title"></p>
            </ion-col>
            <ion-col>
              <p>: {{ data.count }}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <div *ngIf="segment_two == 'Tâches_plannifiées'">
    <ion-card padding>
      <p class="message-heading-text"><strong>Tâches (TO-DO LIST)</strong></p>

      <ion-list mode="md">
        <ion-item *ngFor="let data of TeachPlanData">
          <ion-row class="message-item-border">
            <ion-col col-10>
              <p [innerHtml]="data.title"></p>
            </ion-col>
            <ion-col col-2>
              <p>: {{ data.count }}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>