page-statistiques {

    .title-table-bg{
        background: #ddd;
        border: 1px solid #e7e7e7;
    }

    .row-data-border{
        border: 1px solid #e7e7e7;
    }
    .system-heading-text{
        font-size: 13px;
        color: #676a6c;
    }
    .system-footer-text{
        border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
    font-size: 13px;
    }
    .icon-settings{
        font-size: 1.3rem !important;
    }

    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated,.segment-ios .segment-button.activated, .segment-ios .segment-button.segment-activated {
        border-color: #555555;
        opacity: 1;
        color: #555555
    }

    .segment-md .segment-button , .segment-ios .segment-button{
        
        color: #A7B1C2;
        text-transform: capitalize;
        font-size: 13px;
        
      
    }
    .label-md ,.label-ios{
       margin: 0px; 
    }
    .message-heading-text{
        font-size: 13px;
        color: #676a6c;
        padding: 10px;
    }

    .message-item-border{
        border-top: 1px solid #e7eaec;
    }

    .card-bottam-pad{
        padding-bottom: 30px;
    }
}
