<!--
  Generated template for the ParrainagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar> <ion-title>A propos de NaKELASI</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="about-main">
  <h4>Nakelasi</h4>
  <p> Avec nous, l’école est mieux !</p>
  <h5>
    - Programme pour les écoles maternelles et primaires
 </h5>
 <div class="store-image">
   <a ><img src="./assets/imgs/store-google.jpg"></a>
   <a ><img src="./assets/imgs/app-store.png"></a> 
 </div>
 <div class="bottom-content">
  <p>
    Nakelasi est une plate forme web intelligente (Site web : https://www.nakelasi.com et application Mobile pour androïd et IOS) conçue pour donner la possibilité aux parents (tuteurs)  de garder un œil sur l’évolution de leurs enfants à l’école. Elle a été pensée suite aux multiples difficultés auxquelles sont confrontés les parents:
    <br><b></b></p>

    <p><b>-	pas de temps libre pour aller à l’école des enfants</b></p>
    <b>
      <p> -	un emploie du temps chargé suite aux multiples occupations </p>
      <p> -	une mutation qui éloigne les enfants des parents ou l’inverse.</p></b>
      <p style="margin-top:20px;">
        L’application est un trait d’union entre l’école et les parents. En collaboration avec les écoles, vous aurez la possibilité de suivre en temps réel le rendement de votre enfant : 
      </p>
      <b><p>-	ses contrôles (interrogations, examens, devoirs)</p>
        <p>-	ses notes obtenues (points) </p>
        <p>-	sa courbe de performance sur son application et évolution </p>
        <p>-	ses leçons du jour (journal de classe) </p>
        <p>-	une estimation automatique du pourcentage selon la période </p> </b>
        <p>
          Une interaction avec la direction (échange des mails privés, communiqués) Tout ceci simplement sur votre téléphone.Nakelasi, votre partenaire scolaire 
        </p>
 </div>
 <div class="footer-bottom">
   <p>
    Veuillez vous renseigner à l’école de votre enfant pour la procédure du déploiement.
    </p>
 </div>

 </div>

</ion-content>
