page-apropos {
 .about-main {
   color:#676a6c;
   h4 {
     font-size: 14px;
     font-weight: 800;
   }
   a {
     cursor: pointer;
     display: inline-block;
   }
   p {
     font-size: 14px;
     margin:8px 0px;
     line-height: 1.5em;
   }
   h5 {
     font-size: 12px;
     font-weight: 600;
   }
   .store-image {
     margin-top:20px;
     img {
       margin-right: 10px;
     }
   }
   .footer-bottom {
     margin-top:20px;
   }
 }
}
