page-news-detail {
  .news_date {
    color: rgb(128, 128, 128);
    font-size: 14px;
    margin-top: 5px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #dddddd;
    span {
      margin-top: 0px;
      color: rgb(113, 113, 113);
      margin-left: 10px;
      font-weight: 600;
    }
    p {
      display: inline;
    }
  }
  .yellow_content {
    .content_left {
      display: inline-block;
      float: left;
      background: rgb(252, 178, 49);
      color: #fff;
      margin-right: 10px;
      p {
        margin: 0px;
        font-weight: bold;
        font-size: 15px;
        padding: 0px 5px 4px 5px;
      }
    }
    .content_right {
      color: rgb(252, 178, 49);
      font-size: 18px;
      font-weight: 600;
    }
  }
  .news_tag {
    // background: #d70123;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: normal;
    /* padding-left: 10%; */
    padding: 0px 37px;
    line-height: 30px;
    width: 55%;
  }
  .text-center {
    text-align: center;
  }
  .comment-box-inner {
    width: 90%;
    margin: auto;
  }
  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: rgb(118, 120, 123);
    font-size: 14px;
  }
  .commentname {
    border: 1px solid #dddddd;
  }
  .back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    height: auto;
    position: absolute;
    width: 25px;
  }
  .comment-box {
    width: 100%;
    margin-top: 20% !important;

    margin: auto;
    .msg-btn {
      width: 30%;
      float: right;
      margin-bottom: 20px;
      background-color: rgb(37, 45, 60);
    }
    .item {
      padding-left: 5px !important;
    }
    .item-inner {
      border: none !important;
      padding-right: 0px !important;
      .label {
        // margin-right: 0px !important;
      }
    }
  }
  .count-comment {
    text-align: right;
  }
  .newcomment {
    margin-bottom: 7px;
    font-size: 15px;
  }
  .addcomment {
    border: 1px solid #dddddd;
    width: 100%;
    clear: both;
  }
  .news-hat {
    background: #fff;
    height: 35%;
    width: 85%;
    position: absolute;
    overflow-y: auto;
    text-overflow: ellipsis;
    // bottom: -100px;
    /* margin: auto; */
    top: 90%;
    left: 50%;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
    // padding: 5px;
  }
  .copy-right {
    text-align: center;
    padding: 5px;
  }
  .news-title-text {
    // margin: 10px 25px 5px;
    font-weight: 700;
    font-size: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    // -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .home-card {
    overflow: initial;
    width: 100%;
    margin: 0px;
    .main-image {
      height: 100%;
    }
    .opacity {
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
    }
    margin-top: 0px;
    position: relative;
    .card-content {
      // position: absolute;
      width: 100%;
      // bottom: 0px;
      h3 {
        color: #fff;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.2em;
      }
      p {
        // color: #fff;
        font-size: 12px;
        // font-weight: 500;
        // line-height: 1.3em;
        padding-top: 10px;
        padding-bottom: 8px;
      }
    }
  }
  .chaticon {
    width: 16px !important;
  }
  .card-icons {
    width: 18px;
    height: auto;
  }
  // .view-date {
  //   height: 45px;
  //   margin: 30px 10px 5px;
  // }
  .viewtext {
    color: black;
    padding-left: 7px;
    font-weight: 600;
  }
  .date {
    margin: 0px !important;
    color: black !important;
    float: right;
    padding-top: 7px !important;
    font-size: 12px;

    font-weight: 600 !important;
  }
  .cardbtn {
    padding-left: 0px;
    font-size: 12px;
    margin-top: -5px;
    padding-top: 0px;
  }
  .cardbtn span{
    padding-left: 2px;
  }
  .favourite-main {
    position: absolute;
    top: 0px;
    right: 20px;
    img {
      width: 30px;
    }
  }
  .news-description {
    padding: 5px 0px;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    margin: auto;
    // white-space: pre-wrap;
  }
  .show-class {
    color: #fcb231;
    float: right;
    font-weight: 600;
    font-size: 15px;
    text-decoration: underline;
  }
  .list-item {
    margin-bottom: 5px;
    border-radius: 5px;
    background: rgb(223, 223, 223);
    .avtar-img {
      height: 52px;
      width: 75px;
      border-radius: 10px;
    }
    .list-child-name {
      font-weight: 700;
      font-size: 15px;
      white-space: pre-wrap;
      -webkit-line-clamp: 2;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
    .list-child-detail {
      font-weight: 300;
      font-size: 14px;
      white-space: pre-wrap;
      -webkit-line-clamp: 2;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }
  .page-heading-wrapper {
    height: auto;
    padding: 20px;
    .page-heading {
      font-size: xx-large;
      font-weight: 700;
      margin-bottom: 5px;
    }
    .page-subtitle {
      font-size: large;
    }
  }

  //comments section
  .comment-text {
    // margin-left: 5%;
    // margin-right: 5%;
    // border-bottom: 1px solid;
    // color: white;
  }
  .side-menu-profile-img {
    // background: url("../assets/profile-pic-round-icon.png");
    // background-size: 100% 100%;

    img {
      width: 25px;
      height: 25px;
      vertical-align: middle;
      border-radius: 100%;
      margin-right: 10px;
    }
  }
  .comment-name {
    font-size: 18px;
    font-weight: 600;
    vertical-align: middle;
  }
  .comment-date-time {
    vertical-align: middle;
  }
  .comment {
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 0px;
  }
  .postbtn {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #330b3b;
    // color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    width: 100%;
    height: 5rem;
    padding-top: 5px;
    font-weight: 600;
  }
  .commentdesc {
    border: none !important;
  }

  .border-bottom {
    border-bottom: 1px solid lightgrey;

    padding: 10px;
  }

  // media query for iphone x header
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .scroll-content {
      padding-top: 0px !important;
    }
  }
}

/* iphone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .home-card {
    margin-top: 35px !important;
  }
}

/* iphone XR */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .home-card {
    margin-top: 35px !important;
  }
}

/* iphone XS */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .home-card {
    margin-top: 35px !important;
  }
}

/* iphone XS Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .home-card {
    margin-top: 35px !important;
  }
}
