<!--
  Generated template for the NewsDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar> <ion-title>News Detail</ion-title> </ion-navbar>
</ion-header> -->

<ion-content>

  <ion-card class="home-card">
    <!-- <div class="opacity"></div> -->
    <img class="main-image" src="{{
        newsDetails.imgs
          ? 'http://001.nakelasi.com/images/news/' + newsDetails.imgs
          : './assets/imgs/no-img-background.jpg'
      }}" />
    <img class="back-btn" (click)="back()" src="./assets/news-icon/left-arrow.svg" />

    <div class="favourite-main">
      <!-- <img src="./assets/news-icon/favourite-unselect-icon.png" /> -->
      <img *ngIf="newsDetails.favorite == 1" (click)="$event.stopPropagation(); favChange(newsDetails)"
        src="./assets/news-icon/favourite-select-icon.png" />
      <img *ngIf="newsDetails.favorite != 1" (click)="$event.stopPropagation(); favChange(newsDetails)"
        src="./assets/news-icon/favourite-unselect-icon.png" />
    </div>

    <div *ngIf="newsDetails.cpright" class="news-hat">
      <p *ngIf="newsDetails.cpright" class="copy-right" [innerHtml]="newsDetails.cpright"></p>
      <!-- <p class="news-title-text" [innerHtml]="newsDetails.titre"></p> -->
    </div>
  </ion-card>

  <div>
    <div class="comment-box">
      <!-- <div class="news_tag" [innerHtml]="newsDetails.category" ></div> -->
      <div *ngIf="newsDetails.category && newsDetails.category =='international' " class="international news_tag">
        <p [innerHtml]="newsDetails.category"></p>
      </div>
      <div *ngIf="newsDetails.category && newsDetails.category =='actualités' " class="actualités news_tag">
        <p [innerHtml]="newsDetails.category"></p>
      </div>
      <div *ngIf="newsDetails.category && newsDetails.category =='mon enfant' " class="monenfant news_tag">
        <p [innerHtml]="newsDetails.category"></p>
      </div>
      <div *ngIf="newsDetails.category && newsDetails.category =='infos des écoles' " class="infosdesécoles news_tag">
        <p [innerHtml]="newsDetails.category"></p>
      </div>
      <div class="comment-box-inner">
        <p class="news-title-text" [innerHtml]="newsDetails.titre"></p>
        <div *ngIf="newsDetails.words" class="yellow_content">
          <div class="content_left">
            <p>
              <span>{{ getPrefix(newsDetails.words) }}</span>
            </p>
          </div>
          <div class="content_right" [innerHtml]="newsDetails.words"></div>
        </div>
        <div class="news_date">
          <p>{{ newsDetails.created |date: "dd/MM/yyyy"  }}</p>
          <button class="cardbtn" ion-button icon-start clear small>
            <img class="card-icons" src="./assets/news-icon/eye.svg" />
            <div *ngIf="newsDetails.vus" class="viewtext">
              {{ newsDetails.vus }}
            </div>
          </button>
          <button class="cardbtn" ion-button clear small>
            <img class="card-icons chaticon" src="./assets/news-icon/comment-black-oval-bubble-shape.svg" />
            <div class="viewtext"> {{ comment ? comment.length : 0 }} </div>
          </button>
          <button (click)="share(newsDetails,newsDetails.share_link)" class="cardbtn" ion-button icon-end clear small>
            <ion-icon name="share"></ion-icon> <span>{{newsDetails.share_count }}</span>
          </button>
        </div>
        <!-- <div class="view-date">
        <button col-3 class="cardbtn" ion-button icon-start clear small>
          <img
            class="card-icons chaticon"
            src="./assets/news-icon/comment-black-oval-bubble-shape.svg"
          />
          <div class="viewtext">129</div>
        </button>
        <button col-3 class="cardbtn" ion-button icon-start clear small>
          <img class="card-icons" src="./assets/news-icon/eye.svg" />
          <div *ngIf="newsDetails.vus" class="viewtext">
            {{ newsDetails.vus }}
          </div>
        </button>
        <p col-4 class="date">{{ newsDetails.created | date: "dd/MM/yyyy" }}</p>
      </div> -->
        <p style="font-weight: 800 ; font-size: 18px" [innerHtml]="newsDetails.chapeau"></p>
        <div>
          <p *ngIf="!isShow" class="news-description" [innerHtml]="getLessCorps(newsDetails.corps)"></p>
          <span class="show-class" *ngIf="!isShow" (click)="isShow = !isShow">
            Montre plus...
          </span>
          <p *ngIf="isShow" class="news-description" [innerHtml]="newsDetails.corps"></p>
          <span class="show-class" *ngIf="isShow" (click)="isShow = !isShow">
            Montre moins...
          </span>
        </div>
        <ion-list>
          <h3>A lire aussi</h3>

          <ion-item class="list-item" *ngFor="let item of newsOthers" (click)="gotoNewsDetail(item)">
            <div item-start>
              <img class="avtar-img" src="{{
                  item.imgs
                    ? 'http://001.nakelasi.com/images/news/' + item.imgs
                    : './assets/imgs/no-img-background.jpg'
                }}" />
            </div>
            <div class="list-child-name" [innerHtml]="item.titre"></div>
            <!-- <div class="list-child-detail" [innerHtml]="item.chapeau"></div> -->

            <ion-icon name="ios-arrow-forward" item-end></ion-icon>
          </ion-item>
        </ion-list>
        <div *ngIf="!comment_flag" class="text-center">
          <ion-spinner></ion-spinner>
        </div>
        <div *ngIf="comment_flag" class="comment-text">
          <h3>Derniers commentaires ({{ comment ? comment.length : 0 }})</h3>
          <div *ngFor="let item of comment">
            <div class="border-bottom">
              <span class="side-menu-profile-img">
                <img src="{{
                    item.photo
                      ? item.photo
                      : './assets/imgs/splash-background-2-min.jpeg'
                  }}" />
              </span>
              <span class="comment-name" [innerHtml]="item.pseudo"></span> ,
              <span class="comment-date-time">
                {{ item.created_com |date: "dd/MM/yyyy"  }}
              </span>
              <p [innerHtml]="item.contenu"></p>
            </div>
          </div>

          <!-- <ion-item class="comment">
        <ion-label floating>Add a comment...</ion-label>
        <ion-input [(ngModel)]="message" type="text"></ion-input>
      </ion-item>
      <button class="postbtn" (click)="postComment(message)" full ion-button >Post</button> -->
        </div>
        <h3>Commenter</h3>
        <ion-item class="commentname">
          <ion-input type="text" [(ngModel)]="pseudo" placeholder="pseudo"></ion-input>
        </ion-item>
        <ion-item>
          <p class="newcomment">Ajouter un Commentaire</p>
          <textarea class="addcomment" [(ngModel)]="comment_text" >
          </textarea>
          <!-- <p class="count-comment">{{ comment_text.length }}/90</p> -->
        </ion-item>

        <button (click)="postComments()" ion-button class="msg-btn">
          Envoyer
        </button>
      </div>
    </div>
  </div>
</ion-content>