<!--
  Generated template for the EnPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> en Bref</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="main-list" *ngFor="let i of cards" (click)="gotoNewsDetail(i)">
    <ion-card>
      <ion-card-content>
        <h3 class="" [innerHtml]="i.titre"></h3>
      </ion-card-content>
    </ion-card>

  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>



</ion-content>