<!--
  Generated template for the ControleDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar>
    <ion-title>tous les contrôles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar placeholder="Recherche" debounce="3000" (input)="ionChange(terms)" [(ngModel)]="terms"></ion-searchbar>
  <div class="table-section">
    <div class="grid-class-loader alert alert-info" *ngIf="controls_detail?.length == 0">
      <!-- <ion-spinner></ion-spinner> -->
      <h3>pas de données disponibles</h3>
    </div>
    <ion-grid *ngIf="controls_detail.length > 0" class="grid-class">
      <ion-row class="grid-title" align-items-start>
        <ion-col col-5> Noms des contrôles </ion-col>
        <ion-col col-2> Notes </ion-col>
        <ion-col col-2> /Max </ion-col>
        <ion-col col-3> Date </ion-col>
      </ion-row>

      <ion-row *ngFor="let i of controls_detail" align-items-center>
        <ion-col [innerHtml]="i.nom_controle" col-5></ion-col>
        <ion-col [ngClass]="{ green: i.point_obtenu >= 5 , red: i.point_obtenu < 5 }" col-2>
          {{ i.point_obtenu }}
        </ion-col>
        <ion-col col-2> /{{ i.point_maximum }} </ion-col>
        <ion-col col-3> {{ i.created | date: "dd/MM/yyyy" }} </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>