page-controle-detail {
  .table-section {
    // width: 90%;
    margin-bottom: 20px;
    margin: auto;

    .grid-class {
      border: 1px solid;
      // text-align: center;
      font-size: 12px;
      padding: 0px;
      margin: 10px 0px;
      .grid-title {
        border-bottom: 1px solid;
        color: #fff;
        background: #2a3343;
        font-weight: 600;
        padding-left: 5px;
      }
    }
    .grid-class-loader {
      text-align: center;
    }
  }
  .green{
    color:green;
  }
  .red{
    color: red;
  }
}
