page-home {
  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  }
  .skip-btn {
    color: #2a3343;
  }
  .toolbar-contenttoolbar-content {
    background: #fff;
  }
  .scroll-content {
    // margin-top: 150px;
  }
  ion-segment{
    margin:10px 0px 0px 0px !important;
    background: #2a3343;
  }

  ion-segment-button{
    font-size: 12px !important;
    padding: 0px !important;
  }

  .segment-button.segment-activated{
    // background: #f72300;
    color: #fff !important;
    font-weight: 500;
    border-color:  transparent !important;
  }
  .segment-button{
     color: #fff !important;
  }
  .main-card{
    margin: 50px 0px 0px 0px !important;
  }
  .homeheader {
    background: transparent !important;
  }
  .home-main {
    background: #fff url("../assets/home-background.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  ion-scroll {
    white-space: nowrap;
  }
  .home-user {
    height: 90px;
    //     overflow: auto;
    //     padding: 0px !important;
    //     margin: 0px auto !important;
    width: 100%;
    background: #fff;
    margin: auto;
    //     .row {
    //       margin: 0px;
    //       padding: 0px;
    //     }
    .scroll-wrapper {
      text-align: center;
      // color: #fff;
      padding-top: 10px;
      // background: #fff;
      p {
        margin-top: 3px;
      }
      .child-name {
        width: 67px !important;
        // white-space: nowrap;
        white-space: initial;
        font-size: 9px;
        margin-right: 2px;
        // overflow: hidden;
        // text-overflow: ellipsis;
      }
    }
    .scroll-img {
      height: 45px;
      width: 45px !important;
      margin: 0px 10px !important;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      background-size: 100% 100%;
      border: 3px solid #2a3343;
      //   overflow: scroll;
      // text-align: center;
      // margin: 0px 0px 0px 25px;
      // img {
      //   // width: 55px;
      //   // height: 55px;
      // }
      // .avtar-img {
      //   width: 65px;
      // }
      // p {
      //   margin: 0px;
      //   color: #fff;
      //   font-size: 10px;
      //   font-weight: 600;
      // }
    }
    // .col:nth-child(5) {
    // margin:0px!important;
    // }
    .scroll-img:nth-child(1) {
      // margin-left: 10px !important;
    }
  }
  .plus-tard-logo {
    margin-right: 2px;
    float: right;
  }
  .home-card {
    // width: 100%;
    height: 100%;
    background-size: 100% 100%;
    width: calc(100% - 20px) !important;
    margin: 7px 10px !important;
    background-repeat: no-repeat;
    background-position: center;
    .main-image {
      height: 350px;
    }
    .opacity {
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
    }
    margin-top: 0px;
    border-radius: 8px;
    position: relative;
    .card-content {
      position: absolute;
      bottom: 0px;
      padding: 0px 16px;
      h3 {
        color: #fff;
        font-size: 21px;
        font-weight: 800;
        line-height: 1.2em;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
      }
      p {
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        // line-height: 1.3em;
        padding-top: 10px;
        padding-right: 10px;
        // padding-bottom: 8px;
      }
    }
  }
  .chaticon {
    width: 13px !important;
  }
  .card-icons {
    width: 15px;
    height: auto;
  }
  .viewtext {
    color: #fff;
    padding-left: 7px;
    font-weight: 600;
  }
  .date {
    margin: 0px !important;
    color: #fff !important;
    float: right;
    padding-top: 7px !important;
    font-weight: 600 !important;
  }
  .cardbtn {
    padding-left: 0px;
    font-size: 10px;
  }
  .cardbtn ion-icon{
    color: #fff;
    font-weight: 700;
    padding-right: 7px;
    font-size: 14px;
  }
  .cardbtn span{
    color: #fff;
    font-weight: 700;
    font-size: 13px;
  }

  .favourite-main {
    position: absolute;
    top: 0px;
    right: 20px;
    img {
      width: 30px;
    }
  }
  .searchbar {
    background: #2a3343;
    margin-top: -3px;
  }
  .search-click:first-child {
    margin-top: 10rem !important;
  }
  .header-right-icon {
    margin-top: -3px;
  }
  .card-height-dynamic {
    .fixed-content,
    .scroll-content {
      margin-top: 165px !important;
    }
  }
}
.actulaties.segment-button.segment-activated{
  background: #f72300 !important;
}
.alecole.segment-button.segment-activated{
  background:#3a98c9 !important;
}
.monenfant.segment-button.segment-activated{
  background: #0ed6ca  !important;
}
.en-bref.segment-button.segment-activated{
  background: #FFA500  !important;
}

/* iphone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .card-height-dynamic {
    .fixed-content,
    .scroll-content {
      padding-top: 30px !important;
    }
  }
}

/* iphone XR */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .card-height-dynamic {
    .fixed-content,
    .scroll-content {
      padding-top: 30px !important;
    }
  }
}

/* iphone XS */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .card-height-dynamic {
    .fixed-content,
    .scroll-content {
      padding-top: 30px !important;
    }
  }
}

/* iphone XS Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .card-height-dynamic {
    .fixed-content,
    .scroll-content {
      padding-top: 30px !important;
    }
  }
}
.pickup-time::after {
    content: "";
    width: 0px;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 28px;
    border: 0.5px solid #d5d9e0;
    left: 13px;
    -webkit-transform: none;
    transform: none;
    border-bottom: 0;
  }

  .pickup-details{
    margin-left: 20px;
    margin-top: 5px !important;
  }

  .pickup-time-format {
    margin-left: 28px !important;
    margin-top: 15px !important;
    font-size: 12px;
    color: red;
  }

  .pickup-time::before {
    padding: 0px !important;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    content: "";
    border: 4px solid red;
    margin: 0px !important;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .label-content{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .today-task{
    background-color: red;
    border-radius: 10px;
    padding: 7px;
    padding-right: 25px !important;
    padding-left: 25px !important;
    color: #ffffff;
    font-size: 18px;
  }