<ion-header [hidden]="showVid" class="purpleheader homeheader">
  <ion-navbar>
    <button id="cart-btn" class="corner-header-button" ion-button menuToggle="left">
      <img src="./assets/imgs/menu.png" class="menu-icon" />
      <ion-badge *ngIf="nbn > 0" id="cart-badge">{{ nbn }}</ion-badge>
    </button>
    <ion-title style=" color: #fff; font-weight: 700;" *ngIf="nomschool" [innerHtml]="nomschool"></ion-title>
    <ion-title style=" color: #fff; font-weight: 700;" *ngIf="!nomschool"> Nakelasi </ion-title>
    <img src="./assets/imgs/header-logo.png" *ngIf="!nomschool" class="header-right-icon plus-tard-logo" />
    <ion-buttons end>
      <button (click)="showSearch = !showSearch; terms = ''" class="" ion-button>
        <img src="./assets/imgs/magnifying-glass.png" class="search-btn" />
      </button>
    </ion-buttons>
    <ion-buttons end>

      <button class="corner-header-button" ion-button menuToggle="right">
        <img src="./assets/imgs/header-logo.png" class="header-right-icon" />
      </button>
    </ion-buttons>

  </ion-navbar>
  <ion-toolbar *ngIf="childrenData.length>0">
    <ion-scroll class="home-user" scrollX="true">
      <!-- <ion-grid class="home-user"> -->
      <ion-row nowrap>
        <div (click)="navToChildDetail(child)" *ngFor="let child of childrenData" class="scroll-wrapper">
          <div class="scroll-img" [style.background-image]="
              child.photo_eleve
                ? 'url(http://ss.nakelasi.com/members/eleves/' +
                  child.photo_eleve +
                  ')'
                : './assets/imgs/no-img-background.jpg'
            "></div>
          <p class="child-name" [innerHtml]="child.prenom + ' ' + child.nom"></p>
        </div>
      </ion-row>
    </ion-scroll>
    <ion-segment [(ngModel)]="tabcategory" color="primary" (ionChange)="segmentChanged($event)" mode="md">
      <ion-segment-button value="Actualités" class="actulaties">
        Actualités
      </ion-segment-button>
      <ion-segment-button value="A l’école" class="alecole">
        A l’école
      </ion-segment-button>
      <ion-segment-button value="Mon enfant" class="monenfant">
        Mon enfant
      </ion-segment-button>
      <ion-segment-button value="en Bref" class="en-bref">
        en Bref
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-searchbar *ngIf="showSearch" debounce="1000" placeholder="Recherche" (ionChange)="ionChange()"
    [(ngModel)]="terms"></ion-searchbar>
</ion-header>
<ion-content *ngIf="!showVid" [ngClass]="{'card-height-dynamic': childrenData.length>0}" id="myDIV" class="home-main">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="alert alert-info" [ngClass]="{ 'search-click ': showSearch }" *ngIf="cards?.length == 0">
    <h3>pas de données disponibles</h3>
  </div>
  <div class="main-card">
    <ng-container *ngIf="tabcategory !== 'en Bref'">
      <div class="cards-main" [ngClass]="{ 'search-click ': showSearch }" *ngFor="let i of cards" style="height: 200px;"
        (click)="gotoNewsDetail(i)">
        <ion-card [style.background-image]="
            i.imgs
              ? 'url(http://001.nakelasi.com/images/news/' + i.imgs + ')'
              : './assets/imgs/no-img-background.jpg'
          " class="home-card">
          <div class="opacity"></div>
          <!-- <img
            class="main-image"
            src="{{
              i.imgs
                ? 'http://ss.nakelasi.com//images/news/' + i.imgs
                : './assets/imgs/no-img-background.jpg'
            }}"
          /> -->
          <ion-card-content class="card-content">
            <h3 class="" [innerHtml]="i.titre"></h3>
            <!-- <p class="p-discription limited-words" [innerHtml]="i.chapeau"></p> -->
            <div>
              <button class="cardbtn" ion-button icon-start clear small>
                <img class="card-icons chaticon" src="./assets/news-icon/chat-unselect.png" />
                <div class="viewtext">{{ i.comment_count }}</div>
              </button>
              <button class="cardbtn" ion-button icon-start clear small>
                <img class="card-icons" src="./assets/news-icon/view-icon.png" />
                <div *ngIf="i.vus" class="viewtext">{{ i.vus }}</div>
              </button>

              <button (click)="share(i,i.share_link)" class="cardbtn" ion-button icon-end clear small>
                <ion-icon name="share"></ion-icon> <span>{{ i.share_count }}</span>
              </button>

              <p class="date">{{ i.created | date: "dd/MM/yyyy" }}</p>
            </div>
          </ion-card-content>
          <div *ngIf="i.category && i.category =='international' " class="international category-badge">
            <p [innerHtml]="i.category"></p>
          </div>
          <div *ngIf="i.category && i.category =='actualités' " class="actualités category-badge">
            <p [innerHtml]="i.category"></p>
          </div>
          <div *ngIf="i.category && i.category =='mon enfant' " class="monenfant category-badge">
            <p [innerHtml]="i.category"></p>
          </div>
          <div *ngIf="i.category && i.category =='A l’école' " class="infosdesécoles category-badge">
            <p [innerHtml]="i.category"></p>
          </div>
          <div class="favourite-main">
            <img *ngIf="i.favorite == 1" (click)=" $event.stopPropagation(); favChange(i)"
              src="./assets/news-icon/favourite-select-icon.png" />
            <img *ngIf="i.favorite != 1 " (click)="$event.stopPropagation(); favChange(i)"
              src="./assets/news-icon/favourite-unselect-icon.png" />
          </div>
        </ion-card>
      </div>
    </ng-container>
    <ng-container *ngIf="tabcategory === 'en Bref'">

      <!-- <div *ngFor="let i of cards">
        <p>{{i.titre}}</p>
        <ion-card>
          <ion-card-content>
            <h3 class="" [innerHtml]="i.titre"></h3>
          </ion-card-content>
        </ion-card>
      </div> -->

      <ion-grid style="background-color: #ffffff; padding: 20px;">
        <ion-row  *ngFor="let i of enBref"> 
          <ion-col>
            <!-- <div class="pickup-time">
              <p class="pickup-details">tripData</p>
            </div> -->
            <div class="pickup-time">
              <small class="pickup-time-format">{{ i.date_breve}}</small>
              <p style="margin-left: 20px;" [innerHtml]="i.titre_breve"></p>
            </div>
            <!-- <div class="pickup-time">
              <p class="pickup-details">Definition and Usage. The ::before operty to specify the content to ..</p>
            </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>

    </ng-container>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-header [hidden]="!showVid" class="homeheader ">
  <ion-navbar>



    <ion-buttons end>

      <button class="corner-header-button home-card" ion-button>
        Skip >>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>
<ion-content *ngIf="showVid">

  <video autoplay loop src="assets/video/VID-20190605-WA0007.mp4"></video>

</ion-content>