page-favoris {

 
      .home-main {
        background: #fff url("../assets/home-background.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
      }
      ion-scroll {
        white-space: nowrap;
      }
      .home-user {
        height: 80px;
        //     overflow: auto;
        //     padding: 0px !important;
        //     margin: 0px auto !important;
        width: 95%;
        margin: auto;
        //     .row {
        //       margin: 0px;
        //       padding: 0px;
        //     }
        .scroll-wrapper {
          text-align: center;
          color: #fff;
          p {
            margin-top: 3px;
          }
          .child-name {
            width: 67px !important;
            // white-space: nowrap;
            white-space: initial;
            font-size: 9px;
            margin-right: 2px;
            // overflow: hidden;
            // text-overflow: ellipsis;
          }
        }
        .scroll-img {
          height: 45px;
          width: 45px !important;
          margin: 0px 10px !important;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 50%;
          background-size: 100% 100%;
         
        }
      
      }
    
      .home-card {
        // width: 100%;
        height: 100%;
        background-size: 100% 100%;
        width: calc(100% - 20px) !important;
        margin: 7px 10px !important;
        background-repeat: no-repeat;
        background-position: center;
        .main-image {
          height: 350px;
        }
        .opacity {
          width: 100%;
          height: 100%;
          position: absolute;
          background: rgba(0, 0, 0, 0.4);
        }
        margin-top: 0px;
        border-radius: 8px;
        position: relative;
        .card-content {
          position: absolute;
          bottom: 0px;
          h3 {
            color: #fff;
            font-size: 21px;
            font-weight: 800;
            line-height: 1.2em;
    
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
          }
          p {
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            // line-height: 1.3em;
            padding-top: 10px;
            padding-right: 10px;
            // padding-bottom: 8px;
          }
        }
      }
      .chaticon {
        width: 13px !important;
      }
      .card-icons {
        width: 15px;
        height: auto;
      }
      .viewtext {
        color: #fff;
        padding-left: 7px;
        font-weight: 600;
      }
      .date {
        margin: 0px !important;
        color: #fff !important;
        float: right;
        padding-top: 7px !important;
        font-weight: 600 !important;
      }
      .cardbtn {
        padding-left: 0px;
        font-size: 10px;
      }
      .favourite-main {
        position: absolute;
        top: 0px;
        right: 20px;
        img {
          width: 30px;
        }
      }
  
}
