<!--
  Generated template for the FavorisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">

  <ion-navbar>
    <ion-title>favoris</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="alert alert-info" *ngIf="cards?.length == 0">
    <h3>pas de données disponibles</h3>
  </div>
  <div class="cards-main" [ngClass]="{ 'search-click ': showSearch }" *ngFor="let i of cards" style="height: 200px;"
    (click)="gotoNewsDetail(i)">
    <ion-card [style.background-image]="
        i.imgs
          ? 'url(http://001.nakelasi.com/images/news/' + i.imgs + ')'
          : './assets/imgs/no-img-background.jpg'
      " class="home-card">
      <div class="opacity"></div>
      <!-- <img
        class="main-image"
        src="{{
          i.imgs
            ? 'http://ss.nakelasi.com//images/news/' + i.imgs
            : './assets/imgs/no-img-background.jpg'
        }}"
      /> -->
      <ion-card-content class="card-content">
        <h3 class="" [innerHtml]="i.titre"></h3>
        <!-- <p class="p-discription limited-words" [innerHtml]="i.chapeau"></p> -->
        <div>
          <button class="cardbtn" ion-button icon-start clear small>
            <img class="card-icons chaticon" src="./assets/news-icon/chat-unselect.png" />
            <div class="viewtext">{{ i.comment_count }}</div>
          </button>
          <button class="cardbtn" ion-button icon-start clear small>
            <img class="card-icons" src="./assets/news-icon/view-icon.png" />
            <div *ngIf="i.vus" class="viewtext">{{ i.vus }}</div>
          </button>
          <p class="date">{{ i.created | date: "dd/MM/yyyy" }}</p>
        </div>
      </ion-card-content>
      <div *ngIf="i.category && i.category =='international' " class="international category-badge">
        <p [innerHtml]="i.category"></p>
      </div>
      <div *ngIf="i.category && i.category =='actualités' " class="actualités category-badge">
        <p [innerHtml]="i.category"></p>
      </div>
      <div *ngIf="i.category && i.category =='mon enfant' " class="monenfant category-badge">
        <p [innerHtml]="i.category"></p>
      </div>
      <div *ngIf="i.category && i.category =='infos des écoles' " class="infosdesécoles category-badge">
        <p [innerHtml]="i.category"></p>
      </div>
      <div class="favourite-main">
        <img *ngIf="i.favorite == 1" (click)=" $event.stopPropagation(); favChange(i)"
          src="./assets/news-icon/favourite-select-icon.png" />
        <img *ngIf="i.favorite != 1 " (click)="$event.stopPropagation(); favChange(i)"
          src="./assets/news-icon/favourite-unselect-icon.png" />
      </div>
    </ion-card>
  </div>
</ion-content>