<!--
  Generated template for the HistoryTokenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> historique de mes jetons</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let history of historyData">
    <ion-card-content>
      <div class="row" style="font-size: 12px;">
        <ion-label *ngIf="history.status == 0"
          style="background-color: green;color: white; max-width: 28%;text-align: center;max-width: 28%;font-size: 12px;padding: 2px;">
          Non utilisé
        </ion-label>
        <ion-label *ngIf="history.status == 1 && history.days > 0"
          style="background-color: orange;color: white; max-width: 28%;text-align: center;max-width: 28%;font-size: 12px;padding: 2px;">
          Encours...
        </ion-label>
        <ion-label *ngIf="history.status == -1 && history.days < 0"
          style="background-color: grey;color: white; max-width: 28%;text-align: center;max-width: 28%;font-size: 12px;padding: 2px;">
          Utilisé
        </ion-label>

        <ion-label style="text-align: end; font-size: 14px;font-weight: bold;">{{history.nref}}</ion-label>
      </div>
      <div class="row">
        <ion-label style="margin: 5px;">
          <span>Token code</span>
          <p>{{history.code_jeton}}</p>
        </ion-label>
        <ion-label style="margin: 5px;">
          <span>Crée le:</span>
          <p>{{history.date_created}}</p>
        </ion-label>
      </div>
      <div class="row" *ngIf="history.status != 0">
        <ion-label style="margin: 5px;">
          <span>jours restants: </span>
          <p *ngIf="history.days == '' || history.days > 0">{{history.days}}</p>
          <p *ngIf="history.days != '' && history.days <= 0 ">Expiré</p>
        </ion-label>
        <ion-label style="margin: 5px;">
          <span>Fin validité:</span>
          <p>{{history.date_fin}}</p>
        </ion-label>
      </div>
      <div class="row" *ngIf="history.status == 0">
        <button ion-button (click)="showRadioAlert(history.code_jeton)">recharger</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>