page-userprofile {
  .pass-btn {
    background: #ed5565 !important;
    // border: white 2px solid;
    color: white;
    border-radius: 8px;
  }
  .text-input[disabled] {
    opacity: 0.4;
    color: #ffffff;
  }
  .header {
    background: transparent;
    .back-button {
      color: black;
    }
  }
  .logo-container {
    margin: auto;
    padding-top: 0px;
    padding-bottom: 14px;
    width: 40%;
  }
  .profile-wrapper {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    .profile-container {
      h3 {
        text-align: center;
        font-weight: 700;
        font-size: 20px;
      }
      .profile-icon {
        width: 40%;
        margin: auto;
        text-align: center;
        padding-top: 0px;
        padding-bottom: 10px;
        .profile-img {
          max-height: 200px !important;
          // width: 100%;
          //   height: 100px;
          //   border-radius: 50%;
        }
      }

      .profile-form {
        .text-input {
          margin: 1px 0px 0px 10px !important;
        }
        width: 93%;
        margin: auto;
        margin-bottom: 10px;
        .school-drop-wrapper {
          margin-bottom: 20px;
          background: transparent;
          .school-drop {
            border-radius: 5px;
            background: transparent;

            border: 1px solid;
          }
        }
        .list {
          color: #ffffff;

          .item {
            background: transparent !important;
          }
          .input-icon-image {
            display: inline-block;
          }
        }
      }
    }
  }
  .custom-inputs {
    padding: 7px;
    display: flex;
    margin-bottom: 5px;
    background: rgba(42, 51, 67, 0.57);
    margin: 0 auto 5px;
    border-radius: 3px;
    ion-list {
      // display: inline-flex;
      font-size: 14px;
      margin-bottom: 0px;
    }
  }
  .item-cover {
    height: auto;
    width: auto;
  }
  .item-radio-checked.item ion-label,
  .radio-checked {
    color: orange !important;
  }
  .radio .radio-checked .radio-inner,
  .radio-md .radio-checked {
    border-color: #fcb231 !important;
  }
  .radio-md .radio-inner {
    background: #fcb231 !important;
  }
  .input-icon-image {
    display: inline-block;
    margin-right: 5px;
    font-weight: 600;
    font-size: 12px;
    width: 25% !important;
  }
  .datetime {
    padding: 5px 0px 2px 15px;
  }
  .msg-btn {
    // width: 30%;
    float: right;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    margin: auto;
    background-color: rgb(37, 45, 60);
  }
  ion-select {
    max-width: 100% !important;
    padding: 5px 8px 11px 16px !important;
  }
  .fieldError {
    margin: 5px;
    color: red;
  }
}
