<ion-header class="">
  <ion-navbar> </ion-navbar>
</ion-header>
<ion-content class="profile-wrapper content-auth profile-slide-wrapper">
  <div class="profile-container">
    <h3> tuteur Principal</h3>
    <!-- <div class="logo-container"><img src="./assets/imgs/logo.png" /></div> -->
    <div (click)="uploadProfilePic(1)" class="profile-icon">
      <img class="profile-img" src="./assets/imgs/profile-icon.png" *ngIf="profilePicture == ''" />
      <img class="profile-img" onError="this.src='./assets/imgs/profile-icon.png';" [src]="profilePicture"
        *ngIf="profilePicture != ''" />
    </div>
    <div class="profile-form">
      <!-- Changer de mot de passe  -->
      <button class="custom-btn pass-btn msg-btn" ion-button full (click)="navtoResetPassword()">
        <span style="margin-right: 10px;">
          <ion-icon name="md-key"></ion-icon>
        </span>
        Changer de mot de passe
      </button>

      <!-- Changer de mot de passe  -->
      <form [formGroup]="profileForm">
        <!-- <ion-list no-lines> -->

        <!-- prenom -->
        <div class="custom-inputs">
          <div class="input-icon-image">Prenom</div>
          <div>
            <ion-input [disabled]="disableFlag" placeholder="Prenom" type="text" formControlName="prenomp"></ion-input>
          </div>
        </div>

        <div *ngIf="submitted && f.prenomp.errors" class="fieldError">
          <div *ngIf="f.prenomp.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; Prenom is
            required
          </div>
        </div>
        <!-- prenom -->
        <!-- Nom -->
        <div class="custom-inputs">
          <div class="input-icon-image">Nom</div>
          <div>
            <ion-input [disabled]="disableFlag" placeholder="nomp" type="text" formControlName="nomp"></ion-input>
          </div>
        </div>

        <div *ngIf="submitted && f.nomp.errors" class="fieldError">
          <div *ngIf="f.nomp.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; Nom is
            required
          </div>
        </div>
        <!-- Nom -->
        <!-- postnom -->
        <div class="custom-inputs">
          <div class="input-icon-image">Postnom</div>
          <div>
            <ion-input [disabled]="disableFlag" placeholder="Postnom" type="text" formControlName="postnomp">
            </ion-input>
          </div>
        </div>

        <div *ngIf="submitted && f.postnomp.errors" class="fieldError">
          <div *ngIf="f.postnomp.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; Postnom is
            required
          </div>
        </div>

        <!-- postnom -->

        <!-- Email -->
        <div class="custom-inputs">
          <div class="input-icon-image">Email</div>
          <div>
            <ion-input [disabled]="disableFlag" placeholder="Email" type="text" formControlName="email"></ion-input>
          </div>
        </div>

        <div *ngIf="submitted && f.email.errors" class="fieldError">
          <div *ngIf="f.email.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; Email is
            required
          </div>
          <div *ngIf="f.email.errors.email">
            Email must be a valid email address
          </div>
        </div>

        <div class="custom-inputs">
          <span class="help-block m-b-none" style="color:orange;  "><b>Attention:</b>
            <small>Changer votre <strong>email</strong> celà s'applique directement
              sur <strong>vos identifiants de connexion</strong> dans cet
              espace.</small></span>
        </div>
        <!-- Email -->

        <!-- <div class="input-icon-image">
          <img src="./assets/imgs/mail-icon.png" />
        </div> -->

        <!-- birth date       -->
        <div class="custom-inputs">
          <div class="input-icon-image">Date de naissance</div>
          <div>
            <ion-datetime type="date" [disabled]="disableFlag" placeholder="date born" formControlName="date_born"
              displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"></ion-datetime>
            <!-- {{ profileForm.controls.date_born.value }} -->
          </div>
        </div>

        <div *ngIf="submitted && f.date_born.errors" class="fieldError">
          <div *ngIf="f.date_born.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; Date de
            naissance is required
          </div>
        </div>
        <!-- birth date       -->
        <!-- telephone -->
        <div class="custom-inputs">
          <div class="input-icon-image">Téléphone</div>
          <div>
            <ion-input [disabled]="disableFlag" placeholder="Telephone" type="tel" formControlName="telephone">
            </ion-input>
          </div>
        </div>

        <div *ngIf="submitted && f.telephone.errors" class="fieldError">
          <div *ngIf="f.telephone.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; Telephone
            is required
          </div>
        </div>

        <!-- telephone -->

        <!-- Profession -->
        <div class="custom-inputs">
          <div class="input-icon-image">Profession</div>
          <div>
            <ion-input [disabled]="disableFlag" placeholder="Profession" type="text" formControlName="profession">
            </ion-input>
          </div>
        </div>

        <div *ngIf="submitted && f.profession.errors" class="fieldError">
          <div *ngIf="f.profession.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; Profession
            is required
          </div>
        </div>
        <!-- Profession -->
        <!-- Civilité -->
        <div class="custom-inputs">
          <div class="input-icon-image">Civilité</div>
          <ion-list formControlName="civilite" radio-group>
            <ion-item>
              <ion-label>Monsieur</ion-label>
              <ion-radio [disabled]="disableFlag" value="monsieur" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Madame</ion-label>
              <ion-radio [disabled]="disableFlag" value="madame"></ion-radio>
            </ion-item>
          </ion-list>
        </div>

        <div *ngIf="submitted && f.civilite.errors" class="fieldError">
          <div *ngIf="f.civilite.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; civilite
            is required
          </div>
        </div>
        <!-- Civilité -->
        <!-- Dégré de parenté -->

        <div class="custom-inputs">
          <div class="input-icon-image">Dégré de parenté</div>
          <div>
            <ion-select [disabled]="disableFlag" formControlName="parente" name="parente">
              <ion-option value="">...Sélectionné...</ion-option>
              <ion-option value="parent" selected="">Parents directs (papa/maman)</ion-option>
              <ion-option value="oncle/tante">Oncle/ Tante</ion-option>
              <ion-option value="gd_frere/gd_soeur">Grand frère/ Grande Soeur</ion-option>
              <ion-option value="autres">Autres..</ion-option>
            </ion-select>
          </div>
        </div>
        <div *ngIf="submitted && f.parente.errors" class="fieldError">
          <div *ngIf="f.parente.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; parente is
            required
          </div>
        </div>

        <!-- Dégré de parenté -->
        <!-- Adresse -->
        <div class="custom-inputs">
          <div class="input-icon-image">Adresse</div>
          <div style="width: 100%">
            <ion-textarea formControlName="adresse" disabled="{{ disableFlag }}">
              <!-- [innerHtml]="profileForm.controls.adresse.value" -->
            </ion-textarea>
          </div>
        </div>
        <div *ngIf="submitted && f.adresse.errors" class="fieldError">
          <div *ngIf="f.adresse.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; adresse is
            required
          </div>
        </div>

        <!-- Adresse -->
        <!-- form2 -->
        <div class="alert alert-info">
          <p class="form-control-static"><b>information du second tuteur</b></p>
        </div>
        <div class="custom-inputs">
          <small>Il est important de renseigner les informations demandées pour un
            deuxième titeur de vos enfants. Ceci en vue de nous aider à nous
            référer auprès du 2è lorsque vous êtes injoignables en cas de
            nécessité. Ce titeur n’aura pas accès au système et ne pourra être
            contacté que en cas d’indisponibilité du premier et face à une
            extrême nécessité
          </small>
        </div>
        <div (click)="uploadProfilePic(2)" class="profile-icon">
          <img class="profile-img" src="./assets/imgs/profile-icon.png" *ngIf="profilePicture2 == ''" />
          <img class="profile-img" onError="this.src='./assets/imgs/profile-icon.png';" [src]="profilePicture2"
            *ngIf="profilePicture2 != ''" />
        </div>

        <!-- prenom -->
        <div class="custom-inputs">
          <div class="input-icon-image">Prenom 2è titeur</div>
          <div>
            <ion-input [disabled]="disableFlag" placeholder="Prenom" type="text" formControlName="prenom_titeur2">
            </ion-input>
          </div>
        </div>

        <div *ngIf="submitted && f.prenom_titeur2.errors" class="fieldError">
          <div *ngIf="f.prenom_titeur2.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; prenom
            titeur 2 is required
          </div>
        </div>
        <!-- prenom -->
        <!-- Nom -->
        <div class="custom-inputs">
          <div class="input-icon-image">Nom 2è titeur</div>
          <div>
            <ion-input [disabled]="disableFlag" placeholder="nomp" type="text" formControlName="nom_titeur2">
            </ion-input>
          </div>
        </div>

        <div *ngIf="submitted && f.nom_titeur2.errors" class="fieldError">
          <div *ngIf="f.nom_titeur2.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; nom titeur
            2 is required
          </div>
        </div>
        <!-- Nom -->
        <!-- Email -->
        <div class="custom-inputs">
          <div class="input-icon-image">Email 2è titeur</div>
          <div>
            <ion-input [disabled]="disableFlag" placeholder="Email" type="text" formControlName="email2"></ion-input>
          </div>
        </div>

        <div *ngIf="submitted && f.email2.errors" class="fieldError">
          <div *ngIf="f.email2.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; email2 is
            required
          </div>
          <div *ngIf="f.email2.errors.email">
            Email must be a valid email address
          </div>
        </div>

        <!-- Email -->

        <!-- telephone -->
        <div class="custom-inputs">
          <div class="input-icon-image">Tél. 2è titeur</div>
          <div>
            <ion-input [disabled]="disableFlag" placeholder="Telephone" type="tel" formControlName="tel_titeur2">
            </ion-input>
          </div>
        </div>

        <div *ngIf="submitted && f.tel_titeur2.errors" class="fieldError">
          <div *ngIf="f.tel_titeur2.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; Telephone
            is required
          </div>
        </div>

        <!-- telephone -->

        <!-- Profession -->
        <div class="custom-inputs">
          <div class="input-icon-image">Profession 2è titeur</div>
          <div>
            <ion-input [disabled]="disableFlag" placeholder="Profession" type="text" formControlName="profession2">
            </ion-input>
          </div>
        </div>

        <div *ngIf="submitted && f.profession2.errors" class="fieldError">
          <div *ngIf="f.profession2.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; Profession
            is required
          </div>
        </div>
        <!-- Profession -->
        <!-- Civilité -->
        <div class="custom-inputs">
          <div class="input-icon-image">Civilite 2è titeur</div>
          <ion-list formControlName="civilite2" radio-group>
            <ion-item>
              <ion-label>Monsieur</ion-label>
              <ion-radio [disabled]="disableFlag" value="monsieur" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Madame</ion-label>
              <ion-radio [disabled]="disableFlag" value="madame"></ion-radio>
            </ion-item>
          </ion-list>
        </div>

        <div *ngIf="submitted && f.civilite2.errors" class="fieldError">
          <div *ngIf="f.civilite2.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; civilite
            is required
          </div>
        </div>
        <!-- Civilité -->
        <!-- Dégré de parenté -->

        <div class="custom-inputs">
          <div class="input-icon-image">Dégré de parenté</div>
          <div>
            <ion-select [disabled]="disableFlag" formControlName="parente2" name="parente2">
              <ion-option value="">...Sélectionné...</ion-option>
              <ion-option value="parent" selected="">Parents directs (papa/maman)</ion-option>
              <ion-option value="oncle/tante">Oncle/ Tante</ion-option>
              <ion-option value="gd_frere/gd_soeur">Grand frère/ Grande Soeur</ion-option>
              <ion-option value="autres">Autres..</ion-option>
            </ion-select>
          </div>
        </div>
        <div *ngIf="submitted && f.parente2.errors" class="fieldError">
          <div *ngIf="f.parente2.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; parente is
            required
          </div>
        </div>

        <!-- Dégré de parenté -->
        <!-- Adresse -->
        <div class="custom-inputs">
          <div class="input-icon-image">Adresse 2è titeur</div>
          <div style="width: 100%">
            <ion-textarea formControlName="adresse2" disabled="{{ disableFlag }}">
              <!-- [innerHtml]="profileForm.controls.adresse.value" -->
            </ion-textarea>
          </div>
        </div>
        <div *ngIf="submitted && f.adresse2.errors" class="fieldError">
          <div *ngIf="f.adresse2.errors.required">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; adresse is
            required
          </div>
        </div>

        <!-- Adresse -->
        <!-- form 2 -->
        <div *ngIf="imageError" class="fieldError">
          <ion-icon name="md-information-circle"></ion-icon> &nbsp; Image is
          required
        </div>
        <ion-row>
          <button col-5 *ngIf="!disableFlag" class="custom-btn msg-btn" ion-button full (click)="cancel()">
            annuler
          </button>
          <button col-5 *ngIf="!disableFlag" class="custom-btn msg-btn" ion-button full (click)="updateProfile()">
            Enregistrer
          </button>
        </ion-row>
        <button *ngIf="disableFlag" class="custom-btn msg-btn" ion-button full (click)="enableProfileForm()">
          Modifier vos informations
          <ion-icon name="create" style="    margin-left: 5px;"></ion-icon>
        </button>

        <!-- </ion-list> -->
      </form>
    </div>
  </div>
</ion-content>