// @import "fullcalendar/fullcalendar.min.css";
// @import "../node_modules/fullcalendar/dist/fullcalendar.min.css";
// http://ionicframework.com/docs/theming/
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}
.skip-btn {
  color: #2a3343;
}
.content-auth {
  background-image: url("../assets/imgs/splash-background-2-min.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
body {
  font-family: "Open Sans", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
p,
div,
span {
  text-transform: none !important;
  font-family: "Open Sans", sans-serif !important;
}
// Ios custom heder style for (my childern page)
.ios-header-custom.header-ios {
  height: 11%;
}
//header of all page
ion-header {
  background: #2a3343;
}
.ion-header-hight {
  height: 65px;

  .toolbar-background {
    border-style: none !important;
    height: 55px;
  }
}
.header-md::after,
.tabs-md[tabsPlacement="top"] > .tabbar::after,
.footer-md::before,
.tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  background-image: none !important;
}

//search button for all page
.search-btn {
  height: 20px;
  width: 20px;
  margin: auto;
}
///all page back-button
.back-button {
  color: #ffffff;
}
.corner-header-button {
  margin: 0px 0px !important;
  padding: 0px 0px !important;
}
// all page header setup
.purpleheader .title {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.purpleheader .toolbar-title {
  color: #fff;
  font-weight: 500;
}
.search-icon {
  position: absolute;
  right: 13px;
  height: 54px;
  width: 20px;
  top: 0;
  object-fit: contain;
  object-position: center center;
  //height: 20px;
}
.menu-icon {
  height: 28px;
  width: 28px;
  object-fit: contain;
}
.header::after {
  height: 0px;
}
.header-right-icon {
  height: 42px;
  width: 42px;
  margin-top: 7px;
}
///Side menu style
.toolbar-background {
  background: transparent !important;
}
ion-toolbar{
  padding: 5px;
}

.menu-inner {
  width: 100%;
  background: rgb(37, 45, 60) !important;
}
.menuinner {
  position: relative;
  background: rgb(37, 45, 60) !important;
}

//  for login & register page
.input-icon-image {
  display: inline-block;
  margin-right: 5px;
  width: auto !important;
  img {
    display: inline-block;
    margin-right: 14px;
    position: relative;
    top: 8px;
    width: 20px;
    height: 20px;
    left: 5px;
  }
}
.logo-container {
  margin: auto;
  padding-top: 19px;
  padding-bottom: 14px;
  width: 50%;
}

.custom-inputs div {
  width: 100%;
}

.login-form {
  color: #ffffff;
  .custom-inputs {
    padding: 10px;
    display: flex;
    margin-bottom: 15px;
    background: rgba(42, 51, 67, 0.57);
    margin: 0 auto 5px;
    border-radius: 3px;
  }
  .text-input {
    margin: 7px 8px 11px 0 !important;
  }
  .custom-btn {
    height: 55px;
    margin: 30px auto 27px 0px;
    background: #2a3343;
    box-shadow: none;
    border-radius: 5px;
    font-size: 20px;
  }
  .fieldError {
    margin-left: 10%;
    margin-bottom: 10px;
    color: red;
  }
}

// placeholder style fpr input
.text-input::-moz-placeholder {
  color: white;
}

.text-input:-ms-input-placeholder {
  color: white;
}

// placeholder style fpr input
.text-input::-moz-placeholder {
  color: white;
}

.text-input:-ms-input-placeholder {
  color: white;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: white;
}

//  side menu style for all pages
.back-arrow {
  .backicon {
    color: #fff;
    font-size: 47px;
    padding-top: 2px;
    padding-left: 15px;
  }
}
.menuinner {
  position: relative;
  .side-menu-profile-img {
    background: url("../assets/profile-pic-round-icon.png");
    background-size: 100% 100%;
    width: 110px;
    height: 110px;
    margin: auto;
    position: absolute;
    z-index: 9999;
    top: 21px;
    left: 50%;
    transform: translateX(-50%);
    img {
      width: 78px;
      z-index: 9999;
      height: 78px;
      position: relative;
      top: 16px;
      left: 16px;
      border-radius: 100%;
    }
  }

  .accordion-list {
    border-top: 1px solid #dddddd;
    padding-top: 5px;
    height: 68%;
    overflow: scroll;
  }
  .accordion-list-right {
    border-top: 1px solid #dddddd;
    padding-top: 5px;
    height: 94%;
    overflow: scroll;
  }
  .menu-card {
    width: 77%;
    height: 80%;
    text-align: center;
    margin: 12% auto auto auto;
    border-radius: 10px;
  }
  .user-detail {
    margin-top: 44px;
    padding-bottom: 20px;
    h1 {
      font-size: 18px;
      font-weight: 600;
      margin-block-end: 5px;
    }
  }
  .list-header {
    margin-bottom: 0px;
    padding-left: 20px;
    border: none;
    .item-inner {
      margin-left: 0px !important;
    }
    .label {
      margin: 0px;
      text-transform: uppercase;
    }
    .section,
    .section-active {
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.3);
      font-size: 16px;
      padding-left: 0px;
      display: inline-block;
    }
    .child-list-header {
      padding-left: 10px;
      .item-inner {
        line-height: 1.5px !important;
      }
    }
    .downarrow {
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      right: 10px;
    }
  }
  .section-active {
    color: red !important;
  }
  .child-item {
    padding-left: 0px;
    h2 {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
.md {
  .menu-img {
    // height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
    // margin-top: 9px;
    margin-bottom: -4px;
  }
}
.ios {
  .menu-img {
    // height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
    // margin-top: 9px;
    margin-bottom: -4px;
  }
}
.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: white;
}
.logout-section {
  text-align: center;
  img {
    display: inline-flex;
    margin-right: 10px;
  }
  h4 {
    color: #fff;
    display: inline-block;
    margin: 0px;
    bottom: 10px;
    position: relative;
    padding: 0px;
  }
}
//ios specififc style for side menu profile picture

.content-ios .side-menu-profile-img {
  top: 9% !important;
}

///Badges
#cart-btn {
  position: relative;
  width: 42px;
  top: 1px;
  right: 1px;
  overflow: visible !important;
}

#cart-badge {
  // position: absolute;
  // top: 0px;
  // right: 0px;
  // color: #2a3343;
  background: red;
  color: #ffffff;
  position: absolute;
  top: 0px;
  right: 4px;
  height: 25px;
  width: 25px;
  padding: 6px 3px;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
}
.menu-badge-child-menu2 {
  background: red;
  color: #ffffff;
  border-radius: 100%;
  margin-left: 10px;
  height: 25px;
  width: 25px;
  padding: 6px 3px;
  border-radius: 50%;
  // margin-top: 13px;
}

.ios {
  .menu-badge-child-1 {
    background: #2a3343;
    position: absolute;
    top: 0px;
    padding: 5px;
    border-radius: 100%;
    margin-left: 28%;
    margin-top: 13px;
    height: 22px;
    width: 22px;
  }

  .menu-badge-child-2 {
    background: #2a3343;
    position: absolute;
    top: 0px;
    padding: 5px;
    border-radius: 100%;
    margin-left: -12%;
    margin-top: 13px;
    height: 22px;
    width: 22px;
  }
}

.md {
  .menu-badge-child-1 {
    background: #2a3343;
    position: absolute;
    top: 0px;
    padding: 5px;
    border-radius: 100%;
    margin-left: 20%;
    margin-top: 10px;
    height: 22px;
    width: 22px;
  }

  .menu-badge-child-2 {
    background: #2a3343;
    position: absolute;
    top: 0px;
    padding: 5px;
    border-radius: 100%;
    margin-left: -20%;
    margin-top: 10px;
    height: 25px;
    width: 25px;
  }
}

//Word two lines only
.limited-words {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.alert {
  padding: 10px;
  margin-top: 70px !important;
  margin-bottom: 10px !important;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 95%;
  margin: auto;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
//Loader style

.loading-content {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  color: #2a3343;
  img {
    width: 100px;
  }
}

.menu-badge-child-side-nbn {
  background: red;
  color: #ffffff;
  height: 18px;
  width: 18px;
  padding: 3px;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 0px;
}

// news categorie
.category-badge {
  position: absolute;
  float: left;
  padding: 3px 15px;
  margin-left: 0px;
  p {
    text-transform: uppercase;
    font-weight: normal;
    color: #ffffff;
    font-size: 14px;
  }
}
.international {
  background: #0d015c;
}
.actualités {
  background: #f72300;
}
.monenfant {
  background: #0ed6ca;
}

.infosdesécoles {
  background: #3a98c9;
}

.appversion {
  font-size: 12px !important;
  // font-weight: 800 !important;
}

.childList{
  margin-top: 0px !important;
}

/* iphone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .home-card {
    margin-top: 35px !important;
  }
}

/* iphone XR */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .home-card {
    margin-top: 35px !important;
  }
}

/* iphone XS */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .home-card {
    margin-top: 35px !important;
  }
}

/* iphone XS Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .home-card {
    margin-top: 35px !important;
  }
}
