<ion-menu [content]="content" side="left" id="menu1">
  <!--
    <ion-header class="">
      <ion-toolbar>  </ion-toolbar>
    </ion-header>
  -->

  <ion-content class="menuinner">
    <div (click)="closeMenu()" class="back-arrow">
      <ion-icon class="backicon" name="ios-arrow-round-back-outline"></ion-icon>
    </div>
    <div (click)="navToProfile()" class="side-menu-profile-img">
      <img onError="this.src='./assets/imgs/splash-background-2-min.jpeg';" src="{{
          (profile && profile.photo) ? profile.photo : './assets/imgs/splash-background-2-min.jpeg'
        }}" />
    </div>
    <ion-card class="menu-card">
      <div *ngIf="profile" class="user-detail">
        <h1>{{ profile.prenomp }} {{ profile.nomp }} {{ profile.postnomp }}</h1>
        <h3>{{ profile.email }}</h3>
        <h3 [innerHtml]="profile.profession"></h3>
      </div>
      <ion-list class="accordion-list">
        <!-- First Level -->
        <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
          <!-- Toggle Button -->

          <button ion-item (click)="toggleSection(i)" detail-none
            [ngClass]="{ 'section-active': item.open, section: !item.open }">
            <!--
              <ion-icon item-left name="ios-arrow-down-outline"  class="downarrow" *ngIf="!item.open"></ion-icon>
              <ion-icon item-left name="ios-arrow-up-outline" class="downarrow" *ngIf="item.open"></ion-icon>
            -->
            <img *ngIf="item.image != 'undefined'" class="menu-img"
              src="{{ item.open ? item.activeImage : item.image }}" />
            {{ item.name }} <ion-badge class="menu-badge-child-side-nbn" *ngIf="i == 1 && nbn > 0">{{ nbn }}</ion-badge>
          </button>

          <ion-list *ngIf="item.children && item.open" no-lines>
            <!-- Second Level -->
            <ion-list-header *ngFor="let child of item.children; let j = index" no-padding class="child-list-header">
              <!-- Toggle Button -->
              <button ion-item (click)="toggleItem(i, j)" *ngIf="child.children" class="child">
                <!--
                  <ion-icon item-left name="add" *ngIf="!child.open"></ion-icon>
                  <ion-icon item-left name="close" *ngIf="child.open"></ion-icon>
                -->
                {{ child.name }}
              </button>

              <!-- Direct Add Button as Fallback -->
              <ion-item *ngIf="!child.children" (click)="toggleItem(i, j)" ion-item detail-none class="child-item"
                text-wrap>
                <h2>{{ child.name }}</h2>
              </ion-item>
              <ion-badge *ngIf="i == 1 && j == 0  && nbn > 0" class="menu-badge-child-1">{{
                nbn
              }}</ion-badge>
              <ion-badge *ngIf="i == 1 && j == 2" class="menu-badge-child-2">{{
                envoyes_count
              }}</ion-badge>

              <ion-list *ngIf="child.children && child.open">
                <!-- Third Level -->
                <ion-item *ngFor="let item of child.children; let k = index" detail-none class="child-item" text-wrap>
                  <h2>{{ item.name }}</h2>
                </ion-item>
              </ion-list>
            </ion-list-header>
          </ion-list>
        </ion-list-header>
      </ion-list>
    </ion-card>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <div (click)="logout()" class="logout-section">
        <img src="./assets/logout (1).png" />
        <h4>Deconnexion</h4>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<ion-menu [content]="content" side="right" id="menu2">
  <!--
    <ion-header class="">
      <ion-toolbar>  </ion-toolbar>
    </ion-header>
  -->

  <ion-content class="menuinner">
    <div (click)="closeMenu()" class="back-arrow">
      <ion-icon class="backicon" name="ios-arrow-round-back-outline"></ion-icon>
    </div>
    <!-- <div (click)="navToProfile()" class="side-menu-profile-img">
      <img
        src="{{
          profile ? profile.photo : './assets/imgs/splash-background-2-min.jpeg'
        }}"
      />
    </div> -->
    <ion-card class="menu-card">
      <!-- <div *ngIf="user" class="user-detail">
        <h1>{{ user.prenomp }} {{ user.nomp }} {{ user.postnomp }}</h1>
        <h3>{{ user.email }}</h3>
      </div> -->
      <ion-list class="accordion-list-right">
        <!-- First Level -->
        <ion-list-header *ngFor="let item of information2; let i = index" no-lines no-padding>
          <!-- Toggle Button -->

          <button ion-item (click)="toggleSection2(i)" detail-none
            [ngClass]="{ 'section-active': item.open, section: !item.open }">
            <!--
              <ion-icon item-left name="ios-arrow-down-outline"  class="downarrow" *ngIf="!item.open"></ion-icon>
              <ion-icon item-left name="ios-arrow-up-outline" class="downarrow" *ngIf="item.open"></ion-icon>
            -->
            <img *ngIf="item.image != 'undefined'" class="menu-img"
              src="{{ item.open ? item.activeImage : item.image }}" />
            {{ item.name }}<ion-badge class="menu-badge-child-side-nbn" *ngIf="i == 1 && nbn > 0 ">{{ nbn }}</ion-badge>
            <ion-badge *ngIf="i == 2 && notificationListCount > 0" class="menu-badge-child-menu2" >
              {{ notificationListCount }}</ion-badge>
          </button>

          <ion-list class="childList" *ngIf="item.children && item.open" no-lines>
            <!-- Second Level -->
            <ion-list-header *ngFor="let child of item.children; let j = index" no-padding class="child-list-header">
              <!-- Toggle Button -->
              <button ion-item (click)="toggleItem(i, j)" *ngIf="child.children" class="child">
                <!--
                  <ion-icon item-left name="add" *ngIf="!child.open"></ion-icon>
                  <ion-icon item-left name="close" *ngIf="child.open"></ion-icon>
                -->
                {{ child.name }}

              </button>

              <!-- Direct Add Button as Fallback -->
              <ion-item *ngIf="!child.children" (click)="toggleSection2(i,j)" ion-item detail-none class="child-item"
                text-wrap>
                <h2>
                  {{ notificationListName }} &nbsp;
                  <small> {{ child.name }} </small>
                </h2>
              </ion-item>



              <ion-list *ngIf="child.children && child.open">
                <!-- Third Level -->
                <ion-item *ngFor="let item of child.children; let k = index" detail-none class="child-item" text-wrap>
                  <h2>&nbsp; &nbsp; {{ item.name }}</h2>
                </ion-item>
              </ion-list>

            </ion-list-header>
          </ion-list>

        </ion-list-header>
      </ion-list>
      <h3 class="appversion"> Version : {{applicationVersion}}</h3>
    </ion-card>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <div (click)="logout()" class="logout-section">
        <img src="./assets/logout (1).png" />
        <h4>Deconnexion</h4>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<!--
  Disable swipe-to-go-back because it's poor UX to combine STGB with side menus
-->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>