<ion-header class="">
  <ion-navbar> </ion-navbar>
</ion-header>
<ion-content padding class="login-wrapper content-auth login-slide-wrapper">
  <div class="login-container">
    <div class="logo-container"><img src="./assets/imgs/logo.png" /></div>
    <div class="login-form">
      <ion-list *ngIf="verificationProccess" no-lines>
        <h3 class="title">Code de vérification</h3>
        <h6 class="sub-title">
          Un code de vérification vous a été envoyé à cette adresse :
          {{ email }}
        </h6>
        <div class="custom-inputs">
          <div class="input-icon-image">
            <img src="./assets/imgs/password-icon.png" />
          </div>

          <div>
            <!-- <ion-label>Email</ion-label> -->
            <ion-input placeholder="Code de vérification" type="tel" [(ngModel)]="code"></ion-input>
          </div>
        </div>

        <!--
              <button class="login-btn" ion-button full (click)="Login()">LOGIN</button>
            -->
        <button class="custom-btn" ion-button full (click)="verifyPass()">
          Valider
        </button>

        <!--
              <div class="or-container">
                <hr>
                <p>OR</p>
                <hr>
              </div>
            -->
      </ion-list>
      <ion-list *ngIf="!verificationProccess" no-lines>
        <h3 class="title">Mot de passe oublié</h3>
        <h6 class="sub-title">
          Veuiller saisir votre adresse email afin de pouvoir reinitialiser
          votre mot de passe
        </h6>
        <div class="school-drop-wrapper">
          <ion-item class="school-drop">
            <ion-label>Choisir une école</ion-label>
            <ion-select (ionChange)="validation('school')" [(ngModel)]="school">
              <ion-option *ngFor="let s of schools" [innerHtml]="s.nomschool" value="{{ s.id_school }}"></ion-option>
            </ion-select>
          </ion-item>
          <div *ngIf="schoolError" class="fieldError">
            <ion-icon name="md-information-circle"></ion-icon> &nbsp; veuillez choisir votre école
          </div>
        </div>
        <div class="custom-inputs">
          <div class="input-icon-image">
            <img src="./assets/imgs/mail-icon.png" />
          </div>

          <div>
            <!-- <ion-label>Email</ion-label> -->
            <ion-input placeholder="Email" type="text" [(ngModel)]="email" (input)="validation('email')"></ion-input>
          </div>
        </div>
        <div *ngIf="emailError" class="fieldError">
          <ion-icon name="md-information-circle"></ion-icon> &nbsp; e-mail invalide
        </div>

        <!--
          <button class="login-btn" ion-button full (click)="Login()">LOGIN</button>
        -->
        <button class="custom-btn" ion-button full (click)="doForgotPass()">
          envoyer
        </button>
        <!-- <div (click)="navToLogin()" class="signup-container">
          <p class="signup">
            <u> <a> Envoyer</a> </u>
          </p>
        </div> -->
        <div class="side-main">
          <p class="side-border">OU</p>
        </div>
        <!--
          <div class="or-container">
            <hr>
            <p>OR</p>
            <hr>
          </div>
        -->
        <div (click)="navToReg()" class="signup-container">
          <p class="signup">
            <u> <a>s’inscrire </a> </u>
          </p>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>