page-forgotpassword {
  .header {
    background: transparent;
    .back-button {
      color: black;
    }
  }
  .title {
    text-align: center;
    color: #2a3343;
    font-size: 24px;
    font-weight: 600;
  }
  .sub-title {
    text-align: center;
    color: #2a3343;
    font-size: 13px;
  }
  .login-wrapper {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    .login-container {
      .login-form {
        width: 93%;
        margin: auto;
        padding-top: 10px;
      }
      .school-drop-wrapper {
        margin-bottom: 20px;
        background: transparent;
        .school-drop {
          border-radius: 5px;
          background: transparent;

          border: 1px solid;
        }
      }
    }
    .facebook {
      background: #2672ca;
    }
    .google {
      background: #f93b51;
    }

    .social-btn {
      height: 44px;
      margin: 18px auto 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      font-size: 16px;
      width: 85%;
    }
    .forgot-pass {
      color: #2a3343;
      float: right;
      margin-bottom: 40px;
      cursor: pointer;
      text-transform: capitalize;
    }
    .side-border {
      display: inline-block;
      position: relative;
      font-size: 14px;
      color: #2a3343;
      font-weight: 500;
      letter-spacing: 0;
    }
    .side-main {
      width: 100%;
      text-align: center;
    }
    .signup {
      margin: 0px;
    }
    .side-border:before {
      content: "";
      display: block;
      width: 39vw;
      height: 1px;
      background: #2a3343;
      position: absolute;
      left: 23px;
      top: 10px;
    }
    .side-border:after {
      content: "";
      display: block;
      width: 39vw;
      height: 1px;
      background: #2a3343;
      position: absolute;
      right: 23px;
      top: 10px;
    }
    .signup-container {
      text-align: center;
      color: black;
      font-size: larger;
      a {
        font-weight: 800;
        cursor: pointer;
        color: black;
      }
    }
  }
}
