<ion-slides pager="true">

  <ion-slide class="img-1">
    <!-- <img src="/assets/01.jpg" /> -->
    <ion-footer>
      <a color="light" (click)="goToHome()">Suivant</a>
    </ion-footer>
  </ion-slide>

  <!-- <ion-slide>
    <img src="images/slide2.png" />
  </ion-slide> -->

  <ion-slide class="img-2">
    <!-- <img src="/assets/02.jpg" /> -->
    <ion-footer>
      <a color="light" (click)="goToHome()">Suivant</a>
    </ion-footer>

  </ion-slide>

  <!-- <ion-slide>
    <ion-row>
      <ion-col>
        <img src="images/slide4.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       
      </ion-col>
    </ion-row>
  </ion-slide> -->

</ion-slides>