.ios,
.md {
  page-intro {
    ion-slide {
      background-color: transparent;
    }

    ion-slide img {
      width: 100vh;
      // height: 70vh !important;
      // width: 100% !important;
      // height: -webkit-fill-available;
    }
    .swiper-pagination-bullet-active {
      background: #464646;
    }
    a {
      float: right;
      margin-right: 10%;
      margin-bottom: 3%;
      color: #ffffff;
    }
  }
}
.img-1 {
  background: url("/assets/01.jpg");
  // height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.img-2 {
  background: url("/assets/02.jpg");
  // height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
