page-message-detail {
  .footer {
    .toolbar {
      padding: 0px !important;
    }
  }
  .message-footer {
    text-align: center;
    img {
      width: 29px;
      margin-right: 7px;
    }
    .transfer {
      img {
        margin-left: 7px;
        margin-right: 0px;
      }
    }
  }
  .msg-btn {
    background-color: rgb(37, 45, 60);
    width: 49.4%;
    height: 51px;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .custom-row {
    border-style: none !important;
    .custom-col {
      text-align: center;
      border-radius: 50px;
      color: white;
    }
  }
  .item {
    padding-left: 7px;
  }
  .col-frais {
    background: rgb(236, 74, 73);
  }
  .col-etudes {
    background: rgb(245, 162, 80);
  }
  .col-autres {
    background: rgb(31, 192, 195);
  }
  .item-inner {
    padding-right: 0px;
  }
  .list-title {
    display: inline-block;
    font-size: 20px;
  }
  .desc {
    p {
      color: #676a6c;
      font-size: 16px;
      line-height: 1.5em;
      letter-spacing: 0.5px;
    }
  }
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }

  .btn-fab {
    background-color: rgb(37, 45, 60);
  }
  .icon-create-message {
    height: 25px;
    width: 25px;
    margin-left: 5px;
  }
  .list-ios > .item-block:first-child {
    border: none !important ;
  }
}
.show-right-toggle{
  display: block !important;
}