<!--
  Generated template for the MessagingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar>
    <button class="corner-header-button" ion-button menuToggle>
      <img src="./assets/imgs/menu.png" class="menu-icon" />
    </button>
    <ion-title>Messages</ion-title>
    <ion-buttons end>
      <button class="corner-header-button show-right-toggle" ion-button menuToggle="right">
        <img src="./assets/imgs/header-logo.png" class="header-right-icon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="message-detail-main">
    <ion-row class="custom-row">
      <ion-col class="col-{{ setcolor(message_Details.categorie) }} custom-col" [innerHtml]="message_Details.categorie"
        col-4></ion-col>
    </ion-row>
    <ion-list>
      <div style="margin-top: 12px;">
        <h2 [innerHtml]="message_Details.objet"></h2>
        <p *ngIf="message_Details.created_m">
          {{ message_Details.created_m | date: "medium" }}
        </p>
        <p *ngIf="message_Details.sended_m">
          {{ message_Details.sended_m | date: "medium" }}
        </p>
      </div>
      <div class="desc">
        <!-- <p>dear parent,</p>
        <p>Hello, I'm sorry</p> -->
        <p [innerHtml]="message_Details.text"></p>
      </div>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="message-footer">
      <button ion-button (click)="fnGotoCreateMessage('Re')" icon-start class="msg-btn">
        <img src="./assets/imgs/reply.png" /> Répondre
      </button>
      <button (click)="fnGotoCreateMessage('Tr')" ion-button icon-start class="msg-btn transfer">
        Transférer <img src="./assets/imgs/fast-forward.png" />
      </button>
    </div>
  </ion-toolbar>
</ion-footer>