<!--
  Generated template for the SchoolNewsReleasesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  <ion-header>

    <ion-navbar>
      <ion-title>School News- Releases</ion-title>
    </ion-navbar>

  </ion-header>
-->

<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar>
    <ion-title>Communiqués de l’Ecole</ion-title>
    <ion-buttons end>
      <button class="corner-header-button show-right-toggle" ion-button menuToggle="right">
        <img src="./assets/imgs/header-logo.png" class="header-right-icon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="navToNewsDetail(item)" *ngFor="let item of items">
      <p class="title-text" [innerHtml]="item.titre"></p>
      <span class="time-text"> {{ item.created | date: "dd/MM/yyyy"}}</span>
      <!-- <p class="subText" *ngIf="item.subText" >{{ item.subText }}</p> -->
      <p text-wrap class="description-text" [innerHtml]="item.descript"></p>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>