page-school-news-releases {
  .title-text {
    font-size: 20px;
    width: 75%;
    color: rgb(52, 52, 52);
    font-weight: 600;
    margin-left: 10px;
    display: inline-block !important;
  }
  .subText {
    font-size: 16px;
    color: rgb(128, 128, 128);
    font-weight: 500;
    margin-left: 10px;
    margin-top: 10px;
  }
  .description-text {
    // font-size: 16px;
    color: rgb(128, 128, 128);
    // font-weight: 500;
    margin-left: 10px;
    // margin-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    height: 20px;
  }

  .time-text {
    font-size: 14px;
    color: lightgray;
    font-weight: 600;
    float: right;
    display: inline-block !important;
  }
  .item-md,
  .item-ios {
    padding-left: 0;
  }
}
.show-right-toggle{
  display: block !important;
}