<!--
  Generated template for the CalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar> <ion-title>calendar</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-label>Selected Date</ion-label>
  <ion-input type="text" [(ngModel)]="mainDate"> </ion-input>
  <ion-label>Selected Event</ion-label>
  <ion-input type="text" [(ngModel)]="mainEvent"> </ion-input> -->

  <angular2-fullcalendar
    *ngIf="displayFlag"
    id="myCalendar"
    [options]="calendarOptions"
  ></angular2-fullcalendar>
</ion-content>
