page-aboutEcole {
  .aboutecole-main {
    text-align: center;
    width: 90%;
    margin: 20px auto;
    h1
    {
      font-size: 30px;
      font-weight: 500;
      text-align: left;
      clear:both;
    }
   
  }
  .main-image {
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
    img {

    }
    h4 {
      text-align: left;
    }
      p {
        text-align: left;
        font-size: 15px;
        color:#676a6c;
    line-height: 26px;
      }
    
  }
  .thumb-title {
    margin:0px;
    font-size: 14px;
  }
  .text-muted {
    color: #888888;
    font-size: 13px;
    float:left;
    
  }
  .img-circle {

    margin:auto;
    img {
      width:100px;
      height:100px;
    }
  }
}
