<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar> <ion-title>A propos de l' Ecole</ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <div class="aboutecole-main">
    <!-- <span class="text-muted"> Date de la dernière révision : 4 avril 2018 </span> -->
    <h1>{{ aboutDetail?.nom_long }}</h1>
    <div class="img-circle">
      <img
        src="{{ aboutDetail?.logo }}"
        height="100"
        width="100"
        title="Logo"
      />
      <p class="thumb-title">{{ aboutDetail?.nom_ecole }}</p>
    </div>
    <div class="main-image">
      <img src="{{ aboutDetail?.picts }}" />
      <h4>Déscription:</h4>
      <p [innerHtml]="aboutDetail?.descript_ecole"></p>
    </div>

    <div class="main-image">
      <h4>Coordonnées:</h4>
      <p>Tél.: {{ aboutDetail?.phone }}</p>
      <p>Adresse: {{ aboutDetail?.adresse }}</p>
      <p>
        Site Web:
        <a (click)="openLink(aboutDetail?.site_web)">{{
          aboutDetail?.site_web
        }}</a>
      </p>
    </div>
  </div>
</ion-content>
