page-temoignages {
  .card {
    box-shadow: none;
    width: 100%;
    border-bottom: 1px solid #2a3343;
    padding: 0px;
    padding-bottom: 5px;
    margin-bottom: 0px !important;
    margin: 0px;
    .card-content {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .temo-main {
    width: 90%;
    margin: auto;
    color: #676a6c;

    .item {
      padding-left: 0px;
      ion-avatar {
        img {
          border-radius: unset !important;
        }
      }
    }
    .temo-wrapper {
      width: 68%;
      display: inline-block;
      .item {
        padding-left: 15px;
        min-height: auto;
        border: 1px solid #e5e6e7;
        .label {
          margin: 0px;
        }
        .select {
          padding: 9px 8px 9px 16px;
        }
      }
    }
    .temo_validate {
      display: inline-block;
      float: right;

      .button {
        color: #f8ac59;
        border-color: #f8ac59;
        margin-top: 2px;
      }
    }

    .message-section {
      .publier_btn {
        width: 99%;
        margin: 8px 0px 20px 0px;
        .button {
          color: #1ab394;
          border-color: #1ab394;
          width: 100%;
        }
      }
      margin-top: 20px;
      .help-block {
        padding-bottom: 5px;
      }
      .form-control {
        border: 1px solid #e5e6e7;
        width: 100%;
        margin: 8px 0px;
      }
    }

    .ibox-content {
      h3 {
        font-size: 16px;
        font-weight: 600;
      }
      small {
        font-size: 12px;
      }
    }
  }
}
