<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar>
    <ion-title>Temoignages</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="temo-main">
    <!-- <div class="ibox-content">
      <h3>Social feed style 1</h3>
      <small>News full block with incorporate avatar picture</small>
    </div> -->
    <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ added_Temolistdata?.thumbnails }}" />
        </ion-avatar>
        <h6 [innerHtml]="added_Temolistdata?.prenomp + added_Temolistdata?.nomp"></h6>
        <p>{{ added_Temolistdata?.t_created | date: "dd/MM/yyyy" }}</p>
      </ion-item>
      <ion-card-content>
        <p [innerHtml]="added_Temolistdata?.temoignage"></p>
      </ion-card-content>
      <div>
        <div class="temo-wrapper">
          <ion-item class="school-drop">
            <ion-label>---------</ion-label>
            <ion-select [(ngModel)]="selector">
              <ion-option value="publier">Publier</ion-option>
              <ion-option value="dépublier">Dépublier</ion-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="temo_validate">
          <button (click)="updateTemognages(added_Temolistdata?.id_temoignage)" ion-button color="light" outline>
            Valider
          </button>
        </div>

        <div class="message-section">
          <span class="help-block">Votre message</span>
          <p>
            <textarea name="message" class="form-control" [(ngModel)]="message" rows="4"></textarea>
          </p>
          <div class="publier_btn">
            <button (click)="addTemognages()" ion-button color="light" outline>
              Publier
            </button>
          </div>
        </div>
      </div>
    </ion-card>

    <!--second section ---->
    <!-- <div class="ibox-content">
      <h3>Social feed style 2</h3>
      <small>News block with separate avatar picture</small>
    </div> -->
    <ion-card *ngFor="let data of temolistdata">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ data.thumbnails }}" />
        </ion-avatar>
        <h6 [innerHtml]="data?.prenomp + data?.nomp">
          {{ data?.prenomp }} {{ data?.nomp }}
        </h6>
        <p>{{ data.t_created | date: "dd/MM/yyyy" }}</p>
      </ion-item>
      <ion-card-content>
        <p [innerHtml]="data?.temoignage"></p>
      </ion-card-content>
      <div></div>
    </ion-card>
    <!-- second section -->
  </div>
</ion-content>