page-journal_classe {
  .journal_main {
    width: 90%;
    margin: auto;
  }
  // .school-drop-wrapper {
  //   width: 64%;
  //   display: inline-block;
  //   float: left;
  //   .item {
  //     padding-left: 0px;
  //   }
  // }
  .title-text {
    font-size: 15px;
  }
  .school-drop-wrapper {
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: transparent;
    .school-drop {
      border-radius: 5px;
      background: transparent;

      border: 1px solid;
    }
  }
  .searchdate {
    padding-left: 0px;
    border-radius: 3px;

    margin-left: 0px;
    border: 1px solid #ed5565;
    .datetime-text {
      color: #ed5565;
    }
  }
  .afficher {
    text-align: center;
    margin-top: 7px;
    margin-bottom: 10px;
    display: inline-block;
    width: 33%;
    float: right;
    .cal-btn {
      background: transparent;
      color: #1ab394;
      border: 1px solid #1ab394;
      border-radius: 3px;
      box-shadow: none;
    }
  }

  .card-list {
    background: #fff;
    margin: 20px 0px;
    width: 100%;

    .card-content {
      padding-right: 5px;
    }
    small {
      float: right;
      font-size: 10px;
    }
    h4 {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    p {
      font-size: 12px;
    }
    ion-icon {
      color: red;
      float: right;
      padding-bottom: 5px;
    }
  }

  .pickup-time::after {
    content: "";
    width: 0px;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 28px;
    border: 0.5px solid #d5d9e0;
    left: 13px;
    -webkit-transform: none;
    transform: none;
    border-bottom: 0;
  }

  .pickup-details{
    margin-left: 20px;
    margin-top: 5px !important;
  }

  .pickup-time-format {
    margin-left: 28px !important;
    margin-top: 15px !important;
    font-size: 12px;
    color: red;
  }

  .pickup-time::before {
    padding: 0px !important;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    content: "";
    border: 4px solid red;
    margin: 0px !important;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .label-content{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .today-task{
    background-color: red;
    border-radius: 10px;
    padding: 7px;
    padding-right: 25px !important;
    padding-left: 25px !important;
    color: #ffffff;
    font-size: 18px;
  }
}
