<!--
  Generated template for the MessagingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar>
    <button class="corner-header-button" ion-button menuToggle>
      <img src="./assets/imgs/menu.png" class="menu-icon" />
    </button>
    <ion-title>Journal de Classe</ion-title>
    <!-- <ion-buttons end>
      <button class="" (click)="serchbox=true" ion-button>
        <img src="./assets/imgs/magnifying-glass.png" class="search-btn" />
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="school-drop-wrapper">
    <ion-item class="school-drop">
      <ion-label>Séléctionner</ion-label>
      <ion-select [(ngModel)]="selectValue" (ionChange)="FilterData()">
        <ion-option value="auj">Aujourd'hui </ion-option>
        <ion-option value="hier">Hier</ion-option>
        <ion-option value="avhier">Avant Hier</ion-option>
        <ion-option value="mois_actuel">Ce mois-ci</ion-option>
        <ion-option value="tous">Tous...</ion-option>
      </ion-select>
    </ion-item>
  </div>
  <div *ngIf='dayTask' class="label-content">
    <span class="today-task">{{dayTask}}</span>
  </div>
    <div class="journal_main">
    <h4 class="title-text">
      Journal de Classe de :
      <b [innerHtml]="childDetail.nom + ' ' + childDetail.prenom + ' ' + childDetail.postnom"></b>
    </h4>


    <ion-grid *ngIf="data.length > 0">
      <ion-row *ngFor="let i of data">
        <ion-col >
          <!-- <div class="pickup-time">
            <p class="pickup-details">tripData</p>
          </div> -->
          <div class="pickup-time">
            <small class="pickup-time-format">{{ i.created | date: "dd/MM/yyyy" }}</small>
            <p class="pickup-details"  [innerHtml]="i.description"></p>
          </div>
          <!-- <div class="pickup-time">
            <p class="pickup-details">Definition and Usage. The ::before operty to specify the content to ..</p>
          </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <div class="school-drop-wrapper">
      <ion-item class="school-drop">
        <ion-label>-- Séléctionner--</ion-label>
        <ion-select>
          <ion-option value="auj">Aujourd'hui </ion-option>
          <ion-option value="hier">Hier</ion-option>
          <ion-option value="avhier">Avant Hier</ion-option>
          <ion-option value="mois_actuel">Ce mois-ci</ion-option>
          <ion-option value="1ere periode">1ère période</ion-option>
          <ion-option value="2e periode">2è période</ion-option>
          <ion-option value="3e periode">3è période</ion-option>
          <ion-option value="4e periode">4è période</ion-option>
          <ion-option value="tous">Tous...</ion-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="afficher">
      <button class="cal-btn" ion-button icon-start>
        <ion-icon name="list"></ion-icon>
        Afficher
      </button>
    </div> -->

    <!-- <ion-item class="searchdate">
 
      <ion-datetime
        class="signupdate"
        displayFormat="MMMM YYYY"
        placeholder="Rechercher selon les dates"
        pickerFormat="MMMM YYYY"
      ></ion-datetime>
    </ion-item> -->


    
    <!-- <div *ngIf="data.length > 0">
      <ion-card class="card-list" *ngFor="let i of data">
        <ion-card-content>
          <small>{{ i.created | date: "dd/MM/yyyy" }}</small>
          <h4 [innerHtml]="i.titre"></h4>
          <p [innerHtml]="i.description"></p>
        </ion-card-content>
      </ion-card>
    </div> -->
    <div class="alert alert-danger" *ngIf="data.length == 0">
      Aucun resultat trouvé pour
    </div>
  </div>
</ion-content>