<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
    <ion-navbar>
        <ion-title>textes juridique</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="legalTextData">
       
        <ion-item class="list-item" *ngFor="let item of legalTextData" (click)="openLink(item.share_link)">
            <div class="list-child-name" [innerHtml]="item.titre"></div>
            <!-- <div class="list-child-detail" [innerHtml]="item.chapeau"></div> -->
    
            <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
    </ion-list>
    
</ion-content>