  ion-list{
    margin-left:10px !important;
    margin-right:10px !important;
     margin-top: 20px !important
  }
  .list-item {
    margin-bottom: 15px;
    border-radius: 5px;
    background: rgb(223, 223, 223);
    .avtar-img {
      height: 52px;
      width: 75px;
      border-radius: 10px;
    }
    .list-child-name {
      font-weight: 700;
      font-size: 15px;
      white-space: pre-wrap;
      -webkit-line-clamp: 2;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
    .list-child-detail {
      font-weight: 300;
      font-size: 14px;
      white-space: pre-wrap;
      -webkit-line-clamp: 2;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }