<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar>
    <ion-title>Changer votre mot de passe </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="login-wrapper content-auth login-slide-wrapper">
  <div class="login-container">
    <div class="login-form">
      <div class="custom-inputs">
        <p style="color:orange">
          Le mot de passe est complexe car il est la base de sécurité de votre
          compte. Veuillez inclure un caractère<b>
            numérique et alphanumérique
          </b>
        </p>
      </div>
      <ion-list no-lines>
        <ion-label>{{ id_email }}</ion-label>

        <ion-label>Nouveau mot de passe</ion-label>
        <div class="custom-inputs">
          <div class="input-icon-image">
            <img src="./assets/imgs/password-icon.png" />
          </div>
          <div>
            <ion-input placeholder="Nouveau mot de passe" type="password" [(ngModel)]="password"
              (input)="validation('password')"></ion-input>
          </div>
        </div>
        <div *ngIf="passwordError" class="fieldError">
          <ion-icon name="md-information-circle"></ion-icon> &nbsp; Password is
          Required
        </div>
        <ion-label>Confirmation</ion-label>
        <div class="custom-inputs">
          <div class="input-icon-image">
            <img src="./assets/imgs/password-icon.png" />
          </div>
          <div>
            <ion-input placeholder="Confirmation Mot de passe" type="password" [(ngModel)]="confirmpassword"
              (input)="validation('confirmpassword')"></ion-input>
          </div>
        </div>
        <div *ngIf="confirmpasswordError" class="fieldError">
          <ion-icon name="md-information-circle"></ion-icon> &nbsp; passwords
          doesn't match
        </div>
        <div *ngIf="lengthError" class="fieldError">
          <ion-icon name="md-information-circle"></ion-icon> &nbsp; passwords
          must have 8 character
        </div>

        <password-strength-meter [password]="password"></password-strength-meter>
        <button class="custom-btn" ion-button full (click)="Cancel()">
          annuler
        </button>

        <button class="custom-btn" ion-button full (click)="doRegistraton()">
          enregistrer
        </button>
      </ion-list>
    </div>
  </div>
</ion-content>