<!--
  Generated template for the NotificationDisplayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="purpleheader  ios-header-custom ion-header-hight">

  <ion-navbar>
    <ion-title>Notification </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="main-content" padding>
  <p class="title-text" *ngIf="title" [innerHtml]="title"></p>

  <!-- <p class="subText" *ngIf="s choolNews.subText">{{ schoolNews.subText }}</p> -->
  <p class="description-text" text-wrap *ngIf="message" [innerHtml]="message"></p>
</ion-content>