page-notification-display {
  .main-content {
    background: #2a3343;
  }
  .title-text {
    text-align: center;
    font-size: 18px;
    color: rgb(128, 128, 128);
    font-weight: 800;
    margin-left: 10px;
    margin-top: 10px;
    color: #ffffff;
  }
  .description-text {
    text-align: center;
    font-size: 16px;
    color: rgb(128, 128, 128);
    font-weight: 800;
    margin-left: 10px;
    margin-top: 10px;
    color: #ffffff;
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 2;
  }
}
