page-supports {
  // placeholder style fpr input
.text-input::-moz-placeholder {
  color: #676a6c;
}

.text-input:-ms-input-placeholder {
  color: #676a6c;
}

// placeholder style fpr input
.text-input::-moz-placeholder {
  color: #676a6c;
}

.text-input:-ms-input-placeholder {
  color: #676a6c;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: #676a6c;
}
  .support_main {
    width: 90%;
    color:#676a6c;
    margin:20px auto;
    .title-action {
      span {
        color: #0C9;
        font-size: 17px;
        font-weight: 600;
      }
    }
    .section-1 {
      text-align: center;
      h3 {
        font-weight: 100;
        font-size:20px;
      }
      .support_btn {
        background-color: #1ab394;
        border-color: #1ab394;
        color: #FFFFFF;
        box-shadow: none;
        border-radius: 3px;
      }
    }
    .model_sec {
      text-align: center;
      margin-top:30px;
      .icon {
        color: #e2e3e3;
        font-size: 70px;
      }
      .modal-title {
        font-weight: 600;
        margin: 5px 0px;
      }
      strong {
        font-weight: bold;
      }
      p {
        font-size: 13px;
      }
      .support_textarea {
        border: 1px solid #e5e6e7;
      }
     
    }
    .support_list {
      .item {
        padding-left:0px;
      }
      .modal_btn_list {
        float: right;
        margin-top:10px;
        .first_btn{
          border-radius: 3px;
          border: 1px solid #e7eaec;
          color:#676a6c;
        }
        .second_btn {
          border-radius: 3px;
          background-color: #1ab394;
          border-color: #1ab394;
          color: #FFFFFF;
        }
      }
      .modal_note {
        clear: both;
        span {
          font-size: 12px;
          font-weight: 600;
          color: orange;

        }
      }
    }
  .second_sec {
    .card {
      width:100%;
      margin:15px 0px;
      .card-header {
        color:#179d82;
        white-space: pre-line;
        font-size: 17px;
        font-weight: 600;
      }
    }
  }
  }
}
