<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar>
    <ion-title>Centre D'assistance</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <div class="support_main">
    <div class="title-action">
      <span> Nous appeler : +243-84-6000-124</span>
    </div>
    <div class="section-1">
      <h3>Si vous n'avez pas trouvé la réponse à votre préoccupation</h3>
      <button (click)="showHideModal()" ion-button class="support_btn">Poster une question</button>
    </div>
    <div class="model_sec" *ngIf="show_hide_modal">
      <ion-icon name="laptop"></ion-icon>
      <h4 class="modal-title">Envoyer votre question</h4>
      <div class="modal-body">
        <p><strong>Envoyez-nous votre question</strong> Si vous n'avez pas trouvé la réponse à votre préoccupation sur
          les differents sujets évoqués, vous pouvez nous écrire avec le maximum de détail possible sur votre
          préoccupation et nous vous donnerons une réponse avec précisions et détails nécessaires dans un court délai.</p>
      </div>
      <ion-list class="support_list">

        <ion-item>
          <ion-input type="text"  [(ngModel)]="subject" placeholder="Sujet"></ion-input>
        </ion-item>

        <ion-item>
          <ion-textarea rows="4" cols="20"  [(ngModel)]="desc" placeholder="Description"></ion-textarea>
        </ion-item>
        <div class="modal_btn_list">
          <button ion-button outline class="first_btn" (click)="clearData()">Annuler</button>
          <button ion-button outline class="second_btn" (click)="sendData()">Envoyer</button>

        </div>
        <div class="modal_note">
          <span>*La reponse vous sera envoyé dans votre boite email</span>
        </div>

      </ion-list>

    </div>
    <div class="second_sec">
      <ion-card *ngFor="let data of support_list">
        <ion-card-header [innerHtml]="data?.sujet">
         
        </ion-card-header>
        <ion-card-content>
          <p (click)="showDetail = !showDetail" [innerHtml]="data?.descript" ></p>
          <div *ngIf="showDetail && data?.sub_detail.length>0" >
            <div *ngFor="let detail of data.sub_detail" >

              <p>
                <b [innerHtml]="detail?.titre"></b>
              </p>
              <p  [innerHtml]="detail?.article">

              </p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>


  </div>

</ion-content>