<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar>
    <button class="corner-header-button" ion-button menuToggle>
      <img src="./assets/imgs/menu.png" class="menu-icon" />
    </button>
    <ion-title *ngIf="childDetail.nom" style="color:#fff; text-align: center" [innerHtml]="
        childDetail.prenom + ' ' + childDetail.nom + ' ' + childDetail.postnom
      "></ion-title>
    <ion-buttons end>
      <button class="corner-header-button" ion-button>
        <img src="./assets/imgs/header-logo.png" class="header-right-icon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="detail-wrapper">
    <div class="detail-profile">
      <img src="{{
          childDetail.photo_eleve
            ? 'http://ss.nakelasi.com/members/eleves/' + childDetail.photo_eleve
            : './assets/imgs/no-img-background.jpg'
        }}" />
      <h3 [innerHtml]="
          childDetail.prenom + ' ' + childDetail.nom + ' ' + childDetail.postnom
        "></h3>
      <p class="sub-text" *ngIf="childDetail.code_ID !=''">{{childDetail.code_ID}}</p>
      <h6 [innerHtml]="childDetail.nom_classe"></h6>
      <!-- <p *ngIf="controls_detail && childDetail.authen == '1'">
        Contrôle(s) effectué(s) :<span>{{ controls_detail.length }} </span>
        Sucessful controls
      </p> -->
    </div>
    <!-- authen status -->

    <div *ngIf="childDetail.authen == '0'">
      <div class="alert alert-danger">
        <h2>
          <b>Désolé!</b>
          <p>Impossible de lire le contenu de cet enfant</p>
        </h2>
      </div>
      <div class="alert alert-danger">
        <p>
          Impossible de lire le contenu de cet enfant, problème lié aux frais de
          minerval. Merci de contacter la direction
        </p>
      </div>
    </div>
    <!-- authen status -->
    <div *ngIf="childDetail.authen == '1'">
      <div>
        <div class="grid-per-small">
          <h1>
            <b> {{ finalPercentage }} % </b>des contrôles réussis.
          </h1>
        </div>
        <ion-grid class="detail-grid">
          <ion-row>
            <ion-col>
              <div class="grid-total" *ngIf="controls_detail && childDetail.authen == '1'">
                Nombre total des contrôles : {{ controls_detail.length }}
              </div>
              <div class="detail-sucess">Réussites : {{ numberOfPassed }}</div>
              <div class="detail-fail" *ngIf="controls_detail">
                Echecs : {{ controls_detail.length - numberOfPassed }}
              </div>
            </ion-col>
            <!-- <ion-col col-4 class="detail-fail">
            </ion-col> -->
          </ion-row>
        </ion-grid>
        <div class="grid-per">
          <p>Evolution de l’Elève</p>
          <h1>{{ percent_sec }} %</h1>
        </div>

        <div class="graph-main">
          <div>
            <ion-icon name="md-arrow-dropdown"></ion-icon>
            <p class="top-count">10</p>
          </div>

          <div class="graph-chart">
            <canvas baseChart class="chart-content" [datasets]="lineChartData1" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
          <div class="graph-up">
            <ion-icon name="md-arrow-dropup"></ion-icon>
            <p class="down-count">0</p>
          </div>
        </div>
      </div>

      <p class="graph-evo">évolution de la courbe des
        contrôles</p>
      <div class="join-main">
        <img src="./assets/imgs/icon 2.png" />
        <h3>Aujourd 'hui</h3>
        <h5>(Journal de Classe)</h5>
        <p (click)="navToJournalClasse()">Voir le journal complet</p>
      </div>
      <!--  Attendants table of controls -->
      <div class="table-section">
        <!-- <p class="graph-evo">
      A la pause, 21 tirs avaient déjà été tentés (13 pour le Real, 8 pour
      le Bayern), un record cette saison en Ligue des champions.
    </p> -->
        <h2>Présences</h2>
        <div class="school-drop-wrapper">
          <ion-item class="school-drop">
            <ion-label>Séléctionner</ion-label>
            <ion-select (ionChange)="attandanceChanged()" [(ngModel)]="attandence_selected">
              <ion-option value="aujourdhui">Aujourd'hui </ion-option>
              <ion-option value="hier">Hier</ion-option>
              <ion-option value="semaine">Cette semaine</ion-option>
              <ion-option value="semaine1">Semaine passée</ion-option>

              <ion-option value="1ere periode">1ère période</ion-option>
              <ion-option value="2e periode">2è période</ion-option>
              <ion-option value="1er semestre">1er semestre(Examen)</ion-option>
              <ion-option value="3e periode">3è période</ion-option>
              <ion-option value="4e periode">4è période</ion-option>
              <ion-option value="2e semestre">2è semestre (Examen)</ion-option>
              <ion-option value="tous">Tous...</ion-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="table-percent" *ngIf="attandence_selected">

        </div>
        <div class="detail-grid">

          <h5>
            {{ attandence_selected }}
          </h5>
        </div>
        <div class="detail-grid" *ngIf="attandence_selected == 'tous' && finalAttendants ">
          - Etat:
          <div class="detail-sucess">Présences : {{ finalAttendants.present }}</div>
          <div class="detail-fail">
            Absences : {{ finalAttendants.absent }}
          </div>

        </div>

        <div class="detail-grid" *ngIf="(attandence_selected == 'aujourdhui' || attandence_selected == 'hier'  )  ">
          <div *ngIf="!finalAttendants" class="detail-fail">
            - Etat: Pas de présence disponible
          </div>
          <div *ngIf="finalAttendants" class="detail-sucess">
            - Etat: Pas de présence disponible
          </div>
        </div>

        <ion-grid *ngIf="finalAttendants && finalAttendants.length > 0" class="grid-class">
          <ion-row class="grid-title" align-items-start>
            <ion-col col-5> jours</ion-col>
            <ion-col col-4> Date </ion-col>
            <ion-col col-3> Etat </ion-col>

          </ion-row>

          <ion-row *ngFor="let i of finalAttendants" align-items-center>
            <ion-col [innerHtml]="i.day" col-5></ion-col>
            <ion-col col-4> {{ i.date_check | date: "dd/MM/yyyy" }} </ion-col>
            <ion-col [ngClass]="{ green: i.statu_p =='présent', red: i.statu_p =='absent' }" col-3>
              {{ i.statu_p }}
            </ion-col>

          </ion-row>
        </ion-grid>



      </div>
      <!-- Attendants table of controls -->
      <!-- text and graph  -->
      <div class="table-section">
        <span style="color:orange"><i class="fa fa-caret-square-o-right"></i> &nbsp;Voir tous les
          contrôles de votre enfant</span>
        <p class="graph-evo">
          <small>Sur une echelle allant de <b>1 à 20 </b>Evaluer les performances de
            votre enfant. les données sont prelevées automatiquement dans ses
            contôles effectués <b>(date, cotation)</b> et sont presentées par un
            graph.</small>
        </p>
        <span style="color:green ; margin-bottom: 15px"><i class="fa fa-check-circle"></i>&nbsp;Votre graph a été crée
          avec
          succès...</span>

        <!-- <div class="text-center">
          <button class="cal-btn" ion-button icon-start>
            <ion-icon name="md-analytics"></ion-icon>
            Calculer le Graph
          </button>
        </div> -->
        <div class="graph-chart">
          <canvas baseChart class="chart-content" [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
            [chartType]="lineChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>

      <!-- text and graph  -->



      <!-- table of controls -->
      <div class="table-section">
        <!-- <p class="graph-evo">
          A la pause, 21 tirs avaient déjà été tentés (13 pour le Real, 8 pour
          le Bayern), un record cette saison en Ligue des champions.
        </p> -->

        <div class="school-drop-wrapper">
          <ion-item class="school-drop">
            <ion-label>Séléctionner</ion-label>
            <ion-select (ionChange)="linegraphChanged()" [(ngModel)]="selector">
              <ion-option value="auj">Aujourd'hui </ion-option>
              <ion-option value="hier">Hier</ion-option>
              <ion-option value="avhier">Avant Hier</ion-option>
              <ion-option value="mois_actuel">Ce mois-ci</ion-option>

              <ion-option value="1ere periode">1ère période</ion-option>
              <ion-option value="2e periode">2è période</ion-option>
              <ion-option value="1er semestre">1er semestre(Examen)</ion-option>
              <ion-option value="3e periode">3è période</ion-option>
              <ion-option value="4e periode">4è période</ion-option>
              <ion-option value="2e semestre">2è semestre (Examen)</ion-option>
              <ion-option value="tous">Tous...</ion-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="table-percent" *ngIf="selector">
          <h5>
            <ion-icon name="time"></ion-icon> {{ selector }}
          </h5>
          <h4>{{ percent_sec }} %</h4>
        </div>
        <ion-grid *ngIf="controls_detail.length > 0" class="grid-class">
          <ion-row class="grid-title" align-items-start>
            <ion-col col-5> Noms des contrôles </ion-col>
            <ion-col col-2> Notes </ion-col>
            <ion-col col-2> /Max </ion-col>
            <ion-col col-3> Date </ion-col>
          </ion-row>

          <ion-row *ngFor="let i of controls_detail" align-items-center>
            <ion-col [innerHtml]="i.nom_controle" col-5></ion-col>
            <ion-col [ngClass]="{ green: i.pass, red: !i.pass }" col-2>
              {{ i.point_obtenu }}
            </ion-col>
            <ion-col col-2> /{{ i.point_maximum }} </ion-col>
            <ion-col col-3> {{ i.created | date: "dd/MM/yyyy" }} </ion-col>
          </ion-row>
        </ion-grid>
        <div (click)="navTocontrolDetail()">

          <span style="color:orange"><i class="fa fa-caret-square-o-right"></i> &nbsp;Voir tous les contrôles de votre
            enfant</span>
        </div>
        <div class="school-drop-wrapper">
          <ion-item class="school-drop">
            <ion-label> rechercher selon les dates<ion-icon class="search-icon search" name="search"></ion-icon></ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="selectedDate"
              (ionChange)="serchDateChanged()"></ion-datetime>
          </ion-item>
          
        </div>
        <div *ngIf="showSelectedDateError" class="alert alert-danger">
          Aucun contrôle trouvé pour le : {{ selectedDate }}
        </div>
        <ion-grid *ngIf="selectedDates.length > 0" class="grid-class">
          <ion-row class="grid-title" align-items-start>
            <ion-col col-5> Noms des contrôles </ion-col>
            <ion-col col-2> Notes </ion-col>
            <ion-col col-2> /Max </ion-col>
            <ion-col col-3> Date </ion-col>
          </ion-row>

          <ion-row *ngFor="let i of selectedDates" align-items-center>
            <ion-col [innerHtml]="i.nom_controle" col-5></ion-col>
            <ion-col [ngClass]="{ green: i.pass, red: !i.pass }" col-2>
              {{ i.point_obtenu }}
            </ion-col>
            <ion-col col-2> /{{ i.point_maximum }} </ion-col>
            <ion-col col-3> {{ i.created | date: "dd/MM/yyyy" }} </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <!-- table of controls -->

      <!-- piechart data -->
      <div class="table-section">
        <h2>Statistiques des contrôles</h2>
        <p class="graph-evo">
          Evaluation de l'Enfant. le taux de reussite sur le total des contrôles
          effectués. données exprimées en pourcentage
        </p>

        <div *ngIf="finalPercentage != 0" style=" margin-bottom: 20px" class="graph-chart">
          <canvas baseChart [data]="doughnutChartData" [options]="doughnutChartOptions" [colors]="doughnutColors"
            [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <!-- piechart data -->

      <!-- class mates list  -->
      <div class="detail-desc">
        <h3>Dans la salle de Classe</h3>
        <p>
          un aperçu des collègues de classe de votre enfant.
        </p>
        <ion-scroll *ngIf="classmate.length > 0" class="detail-grid-user" scrollX="true" style=" height:94px">
          <ion-row nowrap>
            <div class="scroll-img" *ngFor="let i of classmate">
              <img class="child-avatar" src="{{
                  i.photo_eleve
                    ? 'http://ss.nakelasi.com/members/eleves/' + i.photo_eleve
                    : './assets/imgs/no-img-background.jpg'
                }}" alt="Avatar" />
              <p class="child-name" [innerHtml]="i.prenom + ' ' + i.nom"></p>
            </div>
          </ion-row>
        </ion-scroll>
      </div>
      <!-- class mates list  -->
      <!-- course list -->
      <div class="detail-list">
        <h3>Cours</h3>
        <div class="detail-main">
          <div class="ullist" *ngFor="let i of course" [innerHtml]="i.nom_cours"></div>
        </div>
      </div>
      <!-- course list -->

      <!--
      <ion-row style="text-align: center">
        <ion-col>
            <img src="./assets/imgs/twitter-select-icon.png" class="img-social-media" />
        </ion-col>
        <ion-col>
            <img src="./assets/imgs/facebook-unselect-icon.png" class="img-social-media" />
          </ion-col>
          <ion-col>
              <img src="./assets/imgs/linkdin-unselect-icon.png" class="img-social-media" />
            </ion-col>
      </ion-row>
    -->

      <div class="table-section">
        <div *ngIf="professor" class="profile-bottom detail-profile">
          <h2>A propos de l’enseignant</h2>
          <img src="{{
              professor.photo_profil
                ? 'http://ss.nakelasi.com/members/' + professor.photo_profil
                : './assets/imgs/no-img-background.jpg'
            }}" />
          <!-- <h3>Nom</h3> -->
          <h6 [innerHtml]="professor.prenom + ' ' + professor.nom"></h6>
        </div>

        <div class="social-img">
          <img src="./assets/imgs/twitter-select-icon.png" />
          <img src="./assets/imgs/facebook-unselect-icon.png" />
          <img src="./assets/imgs/linkdin-unselect-icon.png" />
        </div>
        <ion-row *ngIf="professor">
          <!-- <ion-col class="text-pesudo">
          <p class="limited-words">
            <span class="text-bold">Pesudo : </span>{{ professor.pseudo }}
          </p>
        </ion-col> -->
          <ion-col class="text-des">
            <p class="limited-words">
              <span class="text-bold">Classe : </span> <span [innerHtml]="professor.nom_classe"></span>
            </p>
          </ion-col>
        </ion-row>

        <!-- <div class="text-center">
        <button class="cal-btn" ion-button icon-start>
          <ion-icon name="calendar"></ion-icon>
          rechercher selon les dates
        </button>
      </div> -->
      </div>
    </div>
  </div>
</ion-content>