page-detail {
  .row[align-items-center] {
    padding-left: 5px;
  }
  .red {
    color: red;
  }
  .sub-text {
    color: grey;
    font-size: 10px !important;
    margin: 0px !important;
  }
  .green {
    color: green;
  }
  .chart-content {
    padding: 10px;
    // height: 170px !important;
    width: 100%;
  }
  .detail-profile {
    text-align: center;
    img {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      margin-top: 10px;
      border: 3px solid #0a4275;
    }
    h3 {
      margin-top: 5px;
      font-size: 16px;
      font-weight: 700;
    }
    h6 {
      margin-top: 6px;
      font-size: 20px;
      text-transform: capitalize !important;
    }
    p {
      margin: 17px 20px;
      font-size: 16px;
      line-height: 1.3em;
      span {
        font-weight: 700;
        padding-left: 5px;
      }
    }
  }
  .detail-grid {
    // text-align: center;
    padding: 10px;
    // margin-left: 10%;
    // margin-top: 10px;
    .col {
      margin: auto;
      font-size: 16px;
      padding: 0px;
      // font-weight: 700;
    }
    .detail-sucess {
      color: green;
      font-size: 16px;
      text-align: left;
    }
    .detail-fail {
      color: red;
      font-size: 16px;
      text-align: left;
    }
  }
  // .grid-per {
  //   text-align: left;
  //   padding-left: 10px;
  //   h1 {
  //     font-size: 16px;
  //     font-weight: 700;
  //     margin-top: 0px;
  //     margin-bottom: -10px;
  //     display: inline-block;
  //     margin-left: 2px;
  //   }
  //   p {
  //     margin: 5px 0px;
  //     font-size: 16px;
  //     color: rgba(0, 0, 0, 0.5);
  //     display: inline-block;
  //   }
  // }
  .grid-per-small {
    text-align: left;
    h1 {
      padding-left: 10px;
      font-size: 16px;
      font-weight: 500;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    p {
      margin: 0px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .grid-total {
    font-size: 16px;
    text-align: left;
  }
  .graph-main {
    margin-top: 0px;
    margin-left: 20px;
    font-size: 16px;
    color: green;
    font-weight: 700;
    position: relative;
    p {
      margin: 0px;
      display: inline-block;
      margin-left: 12px;
    }
    .icon {
      position: relative;
      top: 3px;
    }
    .graph-up {
      // margin-top: 10px;
      color: red !important;
    }
    .top-count {
      font-size: 12px;
      top: 35px;
      left: -15px;
      position: absolute;
    }
    .down-count {
      font-size: 12px;
      position: absolute;
      bottom: 35px;
      left: -10px;
    }
  }
  .graph-evo {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    margin: 12px 2px 12px 20px;
    text-align: left;
  }
  .join-main {
    text-align: center;
    background: rgb(42, 51, 68);
    width: 90%;
    border-radius: 5px;
    margin: auto auto 5px auto;
    padding-bottom: 10px;
    h3 {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      margin-top: 0px;
      margin-bottom: 2px;
    }
    h5 {
      color: #fff;
      font-size: 16px;
      margin-bottom: 0px;
      margin-top: 0px;
    }
    p {
      color: #fff;
      margin: 0px;
      font-size: 14px;
      text-decoration: underline;
      padding: 10px 0px 0px;
    }
    img {
      width: 35px;
      padding: 5px 0px 0px 0px;
    }
  }
  .detail-grid-user {
    width: 90%;
    margin: auto;
    .scroll-img:nth-child(1) {
      margin-left: 0px;
    }
    .scroll-img {
      margin: 0px 10px;
      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      .child-avatar {
        height: 55px;
        width: 55px;
      }
    }
    img {
      border-radius: 50%;
      border: 2px solid #dddddd;
    }

    p {
      margin: 0px;
      font-size: 14px;
      padding: 0px !important;
    }
  }
  .detail-desc {
    h3 {
      margin: 0px;
      padding-left: 20px;
      font-size: 16px;
      font-weight: 700;
    }
    p {
      font-size: 12px;
      font-weight: 400;
      margin: 0px;
      padding: 0px 0px 10px 20px;
    }
  }
  .detail-list {
    margin-left: 20px;
    margin-top: 0px;
    text-align: left;

    h3 {
      font-weight: 700;
      margin: 0px;
      font-size: 16px;
    }
    .ullist {
      // width: 50%;
      background: url(../../assets/imgs/circle.png);
      background-repeat: no-repeat;
      background-size: 14px auto;
      background-position: left;
      // display: inline-block;
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 8px;
      padding-left: 24px;
      padding-right: 20px;
    }
    .detail-main {
      margin-top: 12px;
    }
  }
  .profile-bottom {
    h2 {
      font-size: 16px;
      margin-left: 20px;
      text-align: left;
      font-weight: 700;
    }
    img {
      width: 130px;
      height: 130px;
      border: none;
    }

    // ul li::before {
    //   content: "\2022";
    //   color: rgb(241,84,27);
    //   font-weight: bold;
    //   display: inline-block;
    //   width: 1em;
    //   margin-left: -1em;
    // }
  }

  .text-bold {
    color: black;
    font-weight: 600;
    padding: 5px;
    font-size: 16px;
  }
  .text-des {
    text-align: center;
    font-size: 16px;
    p {
      padding-right: 5px;
    }
  }

  .text-pesudo {
    text-align: left;
    font-size: 16px;
    p {
      padding-right: 5px;
    }
  }

  .social-img {
    text-align: center;
    // padding-bottom: 30px;
    img {
      display: inline-block;
      height: 30px;
      width: 30px;
      margin-left: 15px;
    }
    :first-child {
      margin-left: 0px;
    }
  }
  .table-section {
    width: 90%;
    margin-bottom: 20px;
    margin: auto;
    .school-drop-wrapper {
      margin-bottom: 5px;
      margin-top: 5px;
      background: transparent;
      .school-drop {
        border-radius: 5px;
        background: transparent;

        border: 1px solid;
      }
    }
    .grid-class {
      border: 1px solid;
      // text-align: center;
      font-size: 12px;
      padding: 0px;
      margin: 10px 0px;
      .grid-title {
        border-bottom: 1px solid;
        color: #fff;
        background: #293243;
        font-weight: 600;
        padding-left: 5px;
        text-align: left;
      }
      .grid-data {
        text-align: left;
      }
    }
    .table-percent {
      h4 {
        color: #fff;
        background: #0a4275;
        font-weight: 600;
        padding: 5px 15px;
      }
      h5 {
        color: green;
        background: #fff;
        padding: 1px 15px;
      }
    }
    .graph-evo {
      color: rgba(0, 0, 0, 0.8);
      font-size: 16px;
      margin: 12px 2px 12px 5px;
      text-align: left;
    }
    .cal-btn {
      background: #0a4275;
    }
  }
  .text-center {
    text-align: center;
  }
  .child-name {
    width: 67px !important;
    // white-space: nowrap;
    white-space: initial;
    font-size: 9px !important;
    margin-right: 2px;
  }
  .search {
    position: absolute;
    top: 14px;
  }

  .cart-button {
    background: red;
    width: 38%;
    height: 30px;
    color: #ffffff;
    margin-left: 10px;
    padding-top: 0px !important;
    padding-bottom: 5px;
  }

  .abonnement-button {
    background: green;
    width: 30%;
    height: 30px;
    color: #ffffff;
    font-size: 14px;
  }

  .progressbar {
    background-color: #a3a5a2;
    border-radius: 50px;
    margin-top: 20px;
    width: 140% !important;
  }

  .slider-value {
    background-color: #37a632;
    height: 6px !important;
    border-radius: 50px;
  }

  .back-arrow {
    width: 14px;
  }

  ion-label {
    margin: 0px !important;
  }

  .profileDetails {
    background: #0a4275;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: #ffffff;
    margin-top: 5px;
  }

  .profile-name {
    margin-right: 65px;
  }

  .profileName {
    font-weight: bold;
    color: #0a4275;
    margin-bottom: 5px;
    font-size: 18px;
  }

  ion-segment-button {
    color: #ffffff !important;
    border: none;
    border: none !important;
    border-radius: 0px !important;
    background-color: #7392af !important;
  }

  .segment-button.segment-activated {
    // border: none !important;
    color: #ffffff !important;
    background-color: #0a4275 !important;
  }

  .main-content-container {
    // background: #e6f1f5;
    margin: 15px;
  }

  .acheter-details {
    margin-left: 20px;
    /* text-align: center; */
    font-weight: bold;
    font-size: 12px;
  }
  .account-details {
    margin-left: 20px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: red;
  }
  .segment2-border {
    height: 500px;
    border: 1px solid #0a4275;
  }

  .token-input {
    text-align: center;
  }

  // .write-token{
  //   border: none;
  //   background-color:grey;
  //   color: #ffffff;
  // }

  input[type="text"] {
    border: none;
    background-color: grey;
    color: #ffffff;
    text-align: center;
    height: 30px;
    width: 50%;
    font-size: 12px;
  }

  .extra-content {
    margin-top: 30px;
    margin-right: 25px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }

  .yellow-text-info {
    text-align: center;
    font-size: 10px;
    margin-right: 28px;
    color: orange;
  }

  .achetar-submit-button {
    text-align: center;
    margin-top: 30px;
  }

  .acheter-button {
    background: red;
    width: 50%;
    height: 30px;
    color: #ffffff;
    text-align: center;
  }

  .green-text-info {
    margin-top: 25%;
    color: green;
    text-align: center;
  }

  .recharge-jaton-segment {
    text-align: center;
  }

  .recharge-input {
    margin-top: 15px;
  }

  input[type="text-jaton"] {
    border: none;
    background-color: #708a93;
    color: #ffffff;
    // text-align: center;
    height: 30px;
    width: 50%;
    font-size: 12px;
    padding: 8px;
  }

  input[type="tel"] {
    border: none;
    background-color: #708a93;
    color: #ffffff;
    // text-align: center;
    height: 30px;
    width: 50%;
    font-size: 12px;
    padding: 8px;
  }

  .recharge-menu {
    border: none;
    background-color: #708a93;
    color: #ffffff;
    // text-align: center;
    height: 30px;
    // width: 50%;
    font-size: 12px;
    padding: 6px;
    min-width: 50%;
    // margin-right: 50px !important;
    // margin-left: 50px !important;

    .recharge-menu-options {
      background-color: grey !important;
    }
  }

  .segment1-border {
    border: 1px solid #0a4275;
  }

  ::placeholder {
    color: #ffffff;
    opacity: 1; /* Firefox */
  }
}

.show-right-toggle {
  display: block !important;
}

// .tableDate{
//   font-size: 9px !important;
// }

.error-text {
  text-align: center;
  color: red;
  font-size: 12px !important;
  padding: 0px 0rem;
  margin: 5px !important;
}

.desControl {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: left;
}

.staticEval {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: left;
}

.progress-outer {
  width: 96%;
  margin: 10px 2%;
  padding: 3px;
  text-align: center;
  background-color: #f4f4f4;
  border: 1px solid #dcdcdc;
  color: #fff;
  border-radius: 20px;
}

.progress-inner {
  min-width: 15%;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  border-radius: 20px;
  background-color: map-get($colors, primary);
}

.paymentOpt {
  padding: 0px !important;
  .item-cover {
    width: 0% !important;
    padding: 0px !important;
    margin: 0px !important;
  }

  .input-wrapper {
    justify-content: center;
    display: flex !important;
    align-items: center !important;
  }

  .item-inner {
    padding: 0px !important;
  }
}

.select-md .select-placeholder {
    color: #ffffff;
}

.select-ios .select-placeholder {
    color: #ffffff;
}

.operator-text {
    color: green;
}

.ecrir-text {
  color: black;
}