<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar>
    <button class="corner-header-button" ion-button menuToggle>
      <img src="./assets/imgs/menu.png" class="menu-icon" />
    </button>
    <ion-title *ngIf="childDetail.nom" style="color:#fff; text-align: center" [innerHtml]="
        childDetail.prenom + ' ' + childDetail.nom + ' ' + childDetail.postnom
      "></ion-title>
    <ion-buttons end>
      <button class="corner-header-button show-right-toggle" ion-button menuToggle="right">
        <img src="./assets/imgs/header-logo.png" class="header-right-icon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="detail-wrapper">
    <!--Profile details-->

    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="detail-profile">
            <img src="{{
                    childDetail.photo_eleve
                      ? 'http://ss.nakelasi.com/members/eleves/' + childDetail.photo_eleve
                      : './assets/imgs/no-img-background.jpg'
                  }}" />
          </div>
        </ion-col>
        <ion-col class="profile-name">
          <div>
            <h3 class="profileName" [innerHtml]="
            childDetail.prenom + ' ' + childDetail.nom + ' ' + childDetail.postnom
          "></h3>
            <p class="sub-text" *ngIf="childDetail.code_ID !=''">{{childDetail.code_ID}}</p>
            <h6 class="profileDetails" [innerHtml]="childDetail.nom_classe"></h6>
            <!-- <progress id="progressbar" value = "65" max = "100"></progress> -->
            <div class="progressbar">
              <div class="slider-value" *ngIf="remainingDays > 0;" [ngStyle]="{'width': remainingDaysPer + '%'}"></div>
              <div class="slider-value" *ngIf="remainingDays <=  0;" [ngStyle]="{'width': 0 + '%'}"></div>
            </div>
            <p *ngIf="remainingDays > 0" style="margin: 2px; font-size: 10px;">il vous reste
              {{remainingDays > 0 ? remainingDays : 'expire'}} jours
            </p>
            <p *ngIf="remainingDays <= 0" style="margin: 2px; font-size: 10px;">expiré depuis le {{expiryDate}}</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            <button class="cart-button" (click)="changeSegment()" type="button">
              <img class="menu-img" src="./assets/imgs/cart.png">
              Abonnement
            </button>
          </div>
          <div *ngIf="expiryDate" style="margin-left: 30px;">
            <small *ngIf="remainingDays > 0">expire le: {{expiryDate}}</small>
          </div>
        </ion-col>
      </ion-row>


      <!-- <div class="item-inner">
        <div class="input-wrapper">
          <ion-label class="label label-ios">
            <img class="menu-img" src="./assets/imgs/menu-icon/home-unselect-icon.png">Debut
          </ion-label>
        </div>
      </div> -->

    </ion-grid>

    <!-- <div class="detail-profile">
      <img src="{{
              childDetail.photo_eleve
                ? 'http://ss.nakelasi.com/members/eleves/' + childDetail.photo_eleve
                : './assets/imgs/no-img-background.jpg'
            }}" />
      <h3 [innerHtml]="
              childDetail.prenom + ' ' + childDetail.nom + ' ' + childDetail.postnom
            "></h3>
      <p class="sub-text" *ngIf="childDetail.code_ID !=''">{{childDetail.code_ID}}</p>
      <h6 [innerHtml]="childDetail.nom_classe"></h6>
    </div> -->


    <!--Profile details-->
    <!-- authen status -->

    <!-- authen status -->
    <!--Segment-->

    <div class="main-content-container">
      <ng-container *ngIf="!showAbonnement && childDetail.authen == '1' && remainingDays > 0">
        <ion-segment (ionChange)="segment1Changed($event)" [(ngModel)]="segment1" mode="ios">
          <ion-segment-button style='margin-right:5px' value="mes_notes" checkeds>
            <ion-label>Mes Notes</ion-label>
          </ion-segment-button>
          <ion-segment-button value="mes_statistiques">
            <ion-label>Mes Statistiques</ion-label>
          </ion-segment-button>
          <ion-segment-button style='margin-left:5px' value="mes_cours">
            <ion-label>Mes Cours</ion-label>
          </ion-segment-button>
        </ion-segment>
        <div [ngSwitch]="segment1" class="segment1-border">
          <div *ngSwitchCase="'mes_notes'">
            <div class="table-section" style="margin-top: 10px;">
              <div class="school-drop-wrapper">
                <ion-item class="school-drop">
                  <ion-label>Séléctionner</ion-label>
                  <ion-select (ionChange)="linegraphChanged()" [(ngModel)]="selector">
                    <ion-option value="auj">Aujourd'hui </ion-option>
                    <ion-option value="hier">Hier</ion-option>
                    <ion-option value="avhier">Avant Hier</ion-option>
                    <ion-option value="mois_actuel">Ce mois-ci</ion-option>

                    <ion-option value="1ere periode">1ère période</ion-option>
                    <ion-option value="2e periode">2è période</ion-option>
                    <ion-option value="1er semestre">1er semestre(Examen)</ion-option>
                    <ion-option value="3e periode">3è période</ion-option>
                    <ion-option value="4e periode">4è période</ion-option>
                    <ion-option value="2e semestre">2è semestre (Examen)</ion-option>
                    <ion-option value="tous">Tous...</ion-option>
                  </ion-select>
                </ion-item>
              </div>
              <div class="table-percent" *ngIf="selector">
                <h5>
                  <ion-icon name="time"></ion-icon> {{ selector }}
                </h5>
                <h4>{{ percent_sec }} %</h4>
              </div>
              <ion-grid *ngIf="controls_detail.length > 0" class="grid-class">
                <ion-row class="grid-title">
                  <ion-col col-4> contrôles </ion-col>
                  <ion-col col-2> Notes </ion-col>
                  <ion-col col-2> /Max </ion-col>
                  <ion-col col-4> Date </ion-col>
                </ion-row>

                <ion-row class="grid-data" *ngFor="let i of controls_detail">
                  <ion-col [innerHtml]="i.nom_controle" col-4></ion-col>
                  <ion-col [ngClass]="{ green: i.pass, red: !i.pass }" col-2>
                    {{ i.point_obtenu }}
                  </ion-col>
                  <ion-col col-2> /{{ i.point_maximum }} </ion-col>
                  <ion-col col-4 class="tableDate"> {{ i.created | date: "dd/MM/yyyy" }} </ion-col>
                </ion-row>
              </ion-grid>
              <div (click)="navTocontrolDetail()">

                <span style="color:orange"><i class="fa fa-caret-square-o-right"></i> &nbsp;Voir tous les contrôles de
                  votre
                  enfant</span>
              </div>
              <div class="school-drop-wrapper">
                <ion-item class="school-drop">
                  <ion-label> rechercher selon les dates<ion-icon class="search-icon search" name="search"></ion-icon>
                  </ion-label>
                  <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="selectedDate"
                    (ionChange)="serchDateChanged()"></ion-datetime>
                </ion-item>

              </div>
              <div *ngIf="showSelectedDateError" class="alert alert-danger">
                Aucun contrôle trouvé pour le : {{ selectedDate }}
              </div>
              <ion-grid *ngIf="selectedDates.length > 0" class="grid-class">
                <ion-row class="grid-title" align-items-start>
                  <ion-col col-5> contrôles </ion-col>
                  <ion-col col-2> Notes </ion-col>
                  <ion-col col-2> /Max </ion-col>
                  <ion-col col-3> Date </ion-col>
                </ion-row>

                <ion-row *ngFor="let i of selectedDates" align-items-center>
                  <ion-col [innerHtml]="i.nom_controle" col-5></ion-col>
                  <ion-col [ngClass]="{ green: i.pass, red: !i.pass }" col-2>
                    {{ i.point_obtenu }}
                  </ion-col>
                  <ion-col col-2> /{{ i.point_maximum }} </ion-col>
                  <ion-col col-3> {{ i.created | date: "dd/MM/yyyy" }} </ion-col>
                </ion-row>
              </ion-grid>

            </div>
          </div>
          <div *ngSwitchCase="'mes_statistiques'">
            <div style="margin-top: 10px;">
              <div class="grid-per-small">
                <h1 class="desControl">
                  <small>
                    {{ finalPercentage }}% des contrôles réussis.
                  </small>
                </h1>
              </div>
              <ion-grid class="detail-grid">
                <ion-row>
                  <ion-col>
                    <div class="grid-total" *ngIf="controls_detail && childDetail.authen == '1'">
                      <p style="margin: 0px;">
                        <small>
                          Nombre total des contrôles : {{ controls_detail.length }}
                        </small>
                      </p>
                    </div>
                    <div class="detail-sucess">
                      <p style="margin: 0px;">
                        <small>
                          Réussites : {{ numberOfPassed }}
                        </small>
                      </p>
                    </div>
                    <div class="detail-fail" *ngIf="controls_detail">
                      <p style="margin: 0px;">
                        <small>
                          Echecs : {{ controls_detail.length - numberOfPassed }}
                        </small>
                      </p>
                    </div>
                  </ion-col>
                  <!-- <ion-col col-4 class="detail-fail">
                                              </ion-col> -->
                </ion-row>

                <ion-row>
                  <div class="grid-per">
                    <p style="margin: 0px;">
                      <small style="font-size: 12px;">
                        Evolution de l’Elève {{ percent_sec }} %
                      </small></p>
                  </div>
                </ion-row>
              </ion-grid>
              <!-- <div class="grid-per">
                <p>Evolution de l’Elève</p>
                <h1>{{ percent_sec }} %</h1>
              </div> -->

              <div class="graph-main">
                <div>
                  <ion-icon name="md-arrow-dropdown"></ion-icon>
                  <p class="top-count">10</p>
                </div>

                <div class="graph-chart">
                  <canvas baseChart class="chart-content" [datasets]="lineChartData1" [labels]="lineChartLabels"
                    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                    [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                </div>
                <div class="graph-up">
                  <ion-icon name="md-arrow-dropup"></ion-icon>
                  <p class="down-count">0</p>
                </div>
              </div>
            </div>
            <p style="margin: 20px; margin-bottom: 10px;">
              <small style="font-size: 12px;">
                évolution de la courbe des contrôles
              </small>
            </p>
            <div class="join-main">
              <img src="./assets/imgs/icon 2.png" />
              <h3>Aujourd 'hui</h3>
              <h5>(Journal de Classe)</h5>
              <p (click)="navToJournalClasse()">Voir le journal complet</p>
            </div>
            <div class="table-section">
              <h2>Présences</h2>
              <div class="school-drop-wrapper">
                <ion-item class="school-drop">
                  <ion-label>Séléctionner</ion-label>
                  <ion-select (ionChange)="attandanceChanged()" [(ngModel)]="attandence_selected">
                    <ion-option value="aujourdhui">Aujourd'hui </ion-option>
                    <ion-option value="hier">Hier</ion-option>
                    <ion-option value="semaine">Cette semaine</ion-option>
                    <ion-option value="semaine1">Semaine passée</ion-option>

                    <ion-option value="1ere periode">1ère période</ion-option>
                    <ion-option value="2e periode">2è période</ion-option>
                    <ion-option value="1er semestre">1er semestre(Examen)</ion-option>
                    <ion-option value="3e periode">3è période</ion-option>
                    <ion-option value="4e periode">4è période</ion-option>
                    <ion-option value="2e semestre">2è semestre (Examen)</ion-option>
                    <ion-option value="tous">Tous...</ion-option>
                  </ion-select>
                </ion-item>
              </div>
              <div class="table-percent" *ngIf="attandence_selected">

              </div>
              <div class="detail-grid">

                <h5>
                  {{ attandence_selected }}
                </h5>
              </div>
              <div class="detail-grid" *ngIf="attandence_selected == 'tous' && finalAttendants ">
                - Etat:
                <div class="detail-sucess">Présences : {{ finalAttendants.present }}</div>
                <div class="detail-fail">
                  Absences : {{ finalAttendants.absent }}
                </div>

              </div>

              <div class="detail-grid"
                *ngIf="(attandence_selected == 'aujourdhui' || attandence_selected == 'hier'  )  ">
                <div *ngIf="!finalAttendants" class="detail-fail">
                  - Etat: Pas de présence disponible
                </div>
                <div *ngIf="finalAttendants" class="detail-sucess">
                  - Etat: Pas de présence disponible
                </div>
              </div>

              <ion-grid *ngIf="finalAttendants && finalAttendants.length > 0" class="grid-class">
                <ion-row class="grid-title" align-items-start>
                  <ion-col col-5> jours</ion-col>
                  <ion-col col-4> Date </ion-col>
                  <ion-col col-3> Etat </ion-col>

                </ion-row>

                <ion-row *ngFor="let i of finalAttendants" align-items-center>
                  <ion-col [innerHtml]="i.day" col-5></ion-col>
                  <ion-col col-4> {{ i.date_check | date: "dd/MM/yyyy" }} </ion-col>
                  <ion-col [ngClass]="{ green: i.statu_p =='présent', red: i.statu_p =='absent' }" col-3>
                    {{ i.statu_p }}
                  </ion-col>

                </ion-row>
              </ion-grid>



            </div>
            <div class="table-section">
              <span style="color:orange"><i class="fa fa-caret-square-o-right"></i> &nbsp;Voir tous les
                contrôles de votre enfant</span>
              <p class="graph-evo">
                <small>Sur une echelle allant de 1 à 20 Evaluer les performances de
                  votre enfant. les données sont prelevées automatiquement dans ses
                  contôles effectués (date, cotation) et sont presentées par un
                  graph.</small>
              </p>
              <!-- <span style="color:green ; margin-bottom: 15px"><i class="fa fa-check-circle"></i>&nbsp;Votre graph a été
                                      crée
                                      avec
                                      succès...</span>
                                    <div class="graph-chart">
                                      <canvas baseChart class="chart-content" [datasets]="lineChartData" [labels]="lineChartLabels"
                                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                                        [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)"></canvas>
                                    </div> -->
            </div>
            <div class="table-section">
              <h2>Statistiques des contrôles</h2>
              <p class="staticEval">
                <small>
                  Evaluation de l'Enfant. le taux de reussite sur le total des contrôles
                  effectués. données exprimées en pourcentage
                </small>
              </p>

              <div *ngIf="finalPercentage != 0" style=" margin-bottom: 20px" class="graph-chart">
                <canvas baseChart [data]="doughnutChartData" [options]="doughnutChartOptions" [colors]="doughnutColors"
                  [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'mes_cours'">
            <div class="detail-list" style="margin-top: 10px;">
              <h2>Cours</h2>
              <div class="detail-main">
                <div class="ullist" *ngFor="let i of course" [innerHtml]="i.nom_cours"></div>
              </div>
            </div>
            <div class="detail-desc">
              <h2 style="margin-left: 20px;">Dans la salle de Classe</h2>
              <p>
                un aperçu des collègues de classe de votre enfant.
              </p>
              <ion-scroll *ngIf="classmate.length > 0" class="detail-grid-user" scrollX="true" style=" height:94px">
                <ion-row nowrap>
                  <div class="scroll-img" *ngFor="let i of classmate">
                    <img class="child-avatar" src="{{
                                                                    i.photo_eleve
                                                                      ? 'http://ss.nakelasi.com/members/eleves/' + i.photo_eleve
                                                                      : './assets/imgs/no-img-background.jpg'
                                                                  }}" alt="Avatar" />
                    <p class="child-name" [innerHtml]="i.prenom + ' ' + i.nom"></p>
                  </div>
                </ion-row>
              </ion-scroll>
            </div>
            <div class="">
              <h2 style="margin-left: 20px;">A propos de l’enseignant</h2>
              <div *ngIf="professor" class="profile-bottom detail-profile">
                <img src="{{
                                    professor.photo_profil
                                      ? 'http://ss.nakelasi.com/members/' + professor.photo_profil
                                      : './assets/imgs/no-img-background.jpg'
                                  }}" />
                <!-- <h3>Nom</h3> -->
                <h6 [innerHtml]="professor.prenom + ' ' + professor.nom"></h6>
              </div>

              <div class="social-img">
                <img src="./assets/imgs/twitter-select-icon.png" />
                <img src="./assets/imgs/facebook-unselect-icon.png" />
                <img src="./assets/imgs/linkdin-unselect-icon.png" />
              </div>
              <ion-row *ngIf="professor">
                <!-- <ion-col class="text-pesudo">
                                <p class="limited-words">
                                  <span class="text-bold">Pesudo : </span>{{ professor.pseudo }}
                                </p>
                              </ion-col> -->
                <ion-col class="text-des">
                  <p class="limited-words">
                    <span class="text-bold">Classe : </span> <span [innerHtml]="professor.nom_classe"></span>
                  </p>
                </ion-col>
              </ion-row>

              <!-- <div class="text-center">
                              <button class="cal-btn" ion-button icon-start>
                                <ion-icon name="calendar"></ion-icon>
                                rechercher selon les dates
                              </button>
                            </div> -->
            </div>
          </div>
        </div>

        <!--Segment-->
      </ng-container>
      <ng-container *ngIf="showAbonnement">
        <ion-segment (ionChange)="segment2Changed($event)" [(ngModel)]="segment2" mode="ios">
          <ion-segment-button value="recharger_jeton">
            <ion-label>Recharger jeton</ion-label>
          </ion-segment-button>
          <ion-segment-button style="margin-right: 5px;" value="acheter_abonnement" checkeds>
            <ion-label>Acheter Abonnement</ion-label>
          </ion-segment-button>

        </ion-segment>

        <div [ngSwitch]="segment2" class="segment2-border">
          <div *ngSwitchCase="'recharger_jeton'">
            <div class="acheter-details">
              <p>Saisissez votre jeton envoyé par messagee</p>
            </div>
            <div class="extra-content">
              <span>format jeton : AAAA-0000</span>
            </div>
            <form [formGroup]="jatonAbonnementForm">
              <div class="token-input">
                <input type="text" placeholder="Saisir votre jeton ici" formControlName="codeJaton">
                <p class="error-text"
                  *ngIf="jatonAbonnementFormSubmitted && jatonAbonnementForm.controls.codeJaton.errors?.required">
                   jeton requis.
                </p>
              </div>
              <div class="yellow-text-info">
                <!-- <p>*: ne pas oublier le trait d'union</p> -->
              </div>
              <div class="achetar-submit-button">
                <button class="acheter-button" type="button" (click)="jatonAbonnementClick()">
                  Abonnement
                </button>
              </div>
            </form>
            <div>
              <p style="text-align: center; font-size: 12px; color: orange; margin-top:50px">respecter le majuscule ; Ne
                pas oublier le trait d’union entre les lettres et les
                chiffres</p>
            </div>
            <div class="green-text-info" *ngIf="childDetail.authen == '1'">
              <button class="abonnement-button" (click)="abonnementClose()" type="button">
                <img class="back-arrow" src="../../../assets/icon/back.png">
                Retour
              </button>
              <!-- <p>*: ne pas oublier le trait d'union</p> -->
            </div>
          </div>
          <div *ngSwitchCase="'acheter_abonnement'">
            <div class="acheter-details">
              <p>Selectionner un <span class="operator-text">opérateur</span></p>
            </div>
          <div class="account-details">
            <b><span class="ecrir-text">écrire</span> le numéro au format 243810000000</b>
          </div>
            <div class="recharge-jaton-segment">
              <form [formGroup]="abonnementForm">
                <div>
                  <!-- <select class="recharge-menu">
                    <option class="recharge-menu-options">M-pesa</option>
                  </select> -->
                  <ion-item class="paymentOpt" no-lines>
                      <ion-select class="recharge-menu">
                        <ion-option class="recharge-menu-options" selected>M-pesa</ion-option>
                      </ion-select>
                  </ion-item>
                </div>

                <div>
                  <ion-item class="paymentOpt" no-lines>
                    <ion-select class="recharge-menu" formControlName="devise" placeholder="Sélectionnez la devise">
                      <ion-option class="recharge-menu-options" value="CDF">CDF</ion-option>
                      <ion-option class="recharge-menu-options" value="USD">USD</ion-option>
                    </ion-select>
                  </ion-item>
                  <p class="error-text" *ngIf="abonnementFormSubmitted && abonnementForm.controls.devise.errors?.required">
                    devise requises!.
                  </p>
                </div>

                <div class="recharge-input">
                  <input type="tel" placeholder="Quantité" formControlName="qte">
                  <p class="error-text" *ngIf="abonnementFormSubmitted && abonnementForm.controls.qte.errors?.required">
                    Quantité requises!.
                  </p>
                  <p class="error-text" *ngIf="abonnementFormSubmitted && abonnementForm.controls.qte.errors?.max">
                    Quantité should be less than 5!.
                  </p>
                  <p class="error-text" *ngIf="abonnementFormSubmitted && abonnementForm.controls.qte.errors?.min">
                    Quantité should be grater than 1!.
                  </p>
                </div>

                <div class="recharge-input">
                  <input type="tel" placeholder="Num téléphone" formControlName="telephone">
                  <p class="error-text"
                    *ngIf="abonnementFormSubmitted && abonnementForm.controls.telephone.errors?.required">
                    Num téléphone requis!.
                  </p>
                </div>

                <!-- <div class="recharge-input">
                  <input type="text-jaton" placeholder="Code Pin" formControlName="pin">
                  <p class="error-text" *ngIf="abonnementFormSubmitted && abonnementForm.controls.pin.errors?.required">
                    Code pin requis!.
                  </p>
                </div> -->

                <div class="achetar-submit-button">
                  <button class="acheter-button" type="button" (click)="abonnementClick()">
                    Abonnement
                  </button>
                </div>
                <div *ngIf="responseText">
                  <p> {{responseText}}</p>
                </div>
              </form>
              <div class="green-text-info" *ngIf="childDetail.authen == '1'">
                <button class="abonnement-button" (click)="abonnementClose()" type="button">
                  <img class="back-arrow" src="../../../assets/icon/back.png">
                  Retour
                </button>
                <!-- <p>*: ne pas oublier le trait d'union</p> -->
              </div>
            </div>
          </div>

        </div>
      </ng-container>

      <div *ngIf="childDetail.authen == '0' || remainingDays <= 0">
        <div class="alert alert-danger">
          <h2>
            <b>Désolé!</b>
            <p>Impossible de lire le contenu de cet enfant</p>
          </h2>
        </div>
        <div class="alert alert-danger">
          <p>
            impossible de lire le contenu de cet enfant. Contacter avec la direction de l’école ou avec le service
            Client de nakelasi
          </p>
        </div>
      </div>

    </div>


  </div>
</ion-content>