page-partenaires {
  .partner-main {
    text-align: center;
    .item.activated {
      
      background: #fff;
    }
    .item {
      text-align: center;
      padding:0px 10px;
    }
    img {
      width: 40%;
      margin: auto;
    }
    h3{ 
      margin-top: 20px;
      color: #1c84c6;
      font-size: 23px;;
      font-weight: 100;
      text-align: center;
      white-space: pre-line;
    }
    span {
      font-size: 11px;
      text-align: center;
    }
    p {
      font-size: 13px;
      padding:0px 10px;
      line-height: 1.3em;
      white-space: pre-line;
    }
    .visit-button {
      background: #1c84c6;
      color: #fff;
      padding: 10px;
      font-size: 14px;
      border-radius: 5px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}
