<ion-header class="purpleheader homeheader ios-header-custom ion-header-hight">
  <ion-navbar> <ion-title>Partenaires</ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <div *ngFor="let i of parteners" class="partner-main">
    <ion-card>
      <ion-item class="activated">
        <img *ngIf="i.imgs" src="{{ i.imgs }}" />
        <h3 [innerHtml]="i.nom_long"></h3>
        <span [innerHtml]="i.slogan"></span>
        <p [innerHtml]="i.descript"></p>
        <button (click)="openLink(i.links)" class="visit-button">
          Visiter le site
        </button>
      </ion-item>
    </ion-card>

    <!-- <ion-card>
      <ion-item  class="activated">
       <img src="./assets/imgs/34004019.png" />
      <h3>Les cartesiens</h3>
      <span>Ecole internationale bilingue</span>
      <p>
        L’école est membre de l’association des écoles internationales « ISA ». Les cartésiens est la seule école d’un pays francophone admise au sein de cette organisation prestigieuse. En cette qualité, les cartésiens fait partie de L’International Education System et a la latitude de permettre  à certains de ses élèves de se rendre chaque trimestre à Londres pour les « Short courses » dans des écoles du monde de l’IB et revenir après trois mois. L’immersion linguistique ainsi créée améliore nettement le niveau d’anglais des élèves. L’Organisation du Baccalauréat International « IOB » nous a permis de commencer le processus d’adhésion pour devenir une école membre autorisée à faire passer la formation et les épreuves du Baccalauréat International.                                                                                             
      </p>
      <button class="visit-button">Visiter le site</button>
      </ion-item>
    
    </ion-card> -->
  </div>
</ion-content>
